
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    width: 100%;
    margin-left: -1px;
}

.header {
    height: 7.6171875vw;
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }


.login {
    position: relative;
    width: 10.590494791666666vw;
    height: 3.7109375vw;
    border-radius: 0.32552vw;
    background-color: #FFCB05;
    border: none;
    font-size: 1.5625vw;
    margin-left: 6.510416666666667vw;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.label1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}

.label2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.65vw;
    top: 0px;
    left: 0px;
    position: relative;

}
.label3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
    position: relative;
    display: block;
    margin-left: auto;
    width: 100%;
}
.aboutH {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.45vw;
    font-weight: 600;
    position: relative;
    padding-left: 40px;
    color:#000000; 
}

.infodiv {
    position: relative;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}
.qoutediv {
    display: block;
    margin-left: auto;
    padding-right: 50px;
    padding-left:50px;
    
}
.navbtn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
    font-weight: 500;
    background-color: black;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 49px;
}

.whyMETimg {
    width: 100%;
    flex-direction: row;
}

.navbar {
    background-color: black;
    width: 100%;
    display: flex;
    height: 5.208333333333333vw;
    align-items: center;
    column-gap: 3.90625vw;
    flex-direction: row;
    justify-content: start;
}

    .navbar > div {
        margin-left: 10px;
        flex-grow: 1 1 0;
        display: flex;
        padding: 1.5vw;
        top: 0px;
    }

.navbar2 {
    width: 100%;
    height: 3.1901041666666665vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F5D243;
}

    .navbar2 > div {
        margin-left: 10px;
        flex-grow: 1 1 0;
        display: flex;
        padding: 1.3vw;
        top: 0px;
    }



.logo {
    width: 20.57vw;
    height: 5.315104166666667vw;
}

.bar {
    width: 2.57vw;
    height: 5.315104166666667vw;
}
.AboutNav {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size :1.5vw;
    line-height: 49px;
}
    .AboutNav :hover {
        font-weight: 900;
        text-decoration: underline;
        font-size: 1.6vw;
    }
.flex-container{
    display: flex;
    flex-direction:column;
}
.p1 {
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.65vw;
    padding-left: 40px;
    padding-right:40px;
}
.p2 {
    font-size: 2vw;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    padding-left: 40px;
}
.listItem {
    list-style: none;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.65vw;
    padding-left: 65px;
}
.listItem li::before {
    content: "\2022";
    color: #F5D243;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
li {
    margin: 15px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
