@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    margin: 0;
    height: 100%;
    

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.2552083333333335vw;
}

.header {
    position:absolute;
    left:0;
    height: 5.5vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }

.logo {
    width: 14vw;
    height: 4vw;
}

.bar {
    width: 2.57vw;
    height: 4vw;
}

.label1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}

.adminLogo {
    width: 2.8vw;
    margin-left: 28vw;
}

.adminLabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.56vw;
    font-weight: 600;
    margin-left: 1vw;
}

.dashboardIcon {
    width: 4.625vw; 
    vertical-align: middle;
    margin-right: 0.5vw;
}

.dashboardLabel {
    font-size: 2.8vw;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:1px;
    vertical-align: middle;
    margin-left: 0.5vw;
}

.dashboard {
    margin-top:8.3vw;
    text-align: center;
}

.cardsDiv {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:3.64583333vw;
    column-gap: 3.64583333vw;
    margin-top: 5vh;
    justify-content:center;
    /* margin-right: 25.739583vw;
    margin-left: 25.739583vw;
    margin-top: 5vh;
    display: grid;
    grid-column-gap: 3.64583333vw;
    grid-row-gap: 3.64583333vw;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom:5vw;*/
}

.cards {
    width:23vw;
    height: 15vw;
    border-radius: 0.75vw;
    background: linear-gradient(to bottom right, #FFE171, #FFC3C6);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.cardLabel {
    
    font-size: 2.51vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
}
#stuActivity {
    width: 12.6vw;
    
}

.homeIcon, .coursesIcon, .stActivityIcon, .otherIcon {
    
    width:4.5vw;
    margin-right:1vw;
}






.hover {
    display: none;
}

.wrapper {
    width: auto;

    
}

    .wrapper:hover .cards {
        display: none;
    }

    .wrapper:hover .hover {
        height: 15vw;
        width: 23vw;
        border-radius: 0.75vw;
        background: linear-gradient(to bottom right, #FFE171, #FFC3C6);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
        .wrapper:hover .hover li {
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size:1.5vw;
            font-weight:500;
            margin:1vw;

        }
    .wrapper:hover #hoverCourse li {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.35vw;
        font-weight: 500;
        margin: 0.4vw;
    }

a:link {
    color: white;
    text-decoration: none;
}


a:visited {
    color: white;
    text-decoration:none;
}

/* mouse over link */
a:hover {
    text-decoration:underline;
}

/* selected link */
a:active {
    color: blue;
}

