@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
}

* {
    box-sizing: border-box;
}

.header {
    height: 7.6171875vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    top: 0px;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }

.logo {
    width: 20.57vw;
    height: 5.315104166666667vw;
}

.bar {
    width: 2.57vw;
    height: 5.315104166666667vw;
}

.label1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}

.adminLogo {
    width: 3.875vw;
    height: 7.67920133vh;
    margin-left: 20vw;
}

.adminLabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.56vw;
    font-weight: 600;
    margin-left: 1vw;
}

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 17.03125vw;
    margin-right: 17.03125vw;
    background: linear-gradient(to right, #FFE171, #FFC3C6);
    border-radius: 40px;
    vertical-align: middle;
    justify-content: space-around;
}

.dashboard {
    vertical-align: middle;
    color: white;
    text-decoration: none;
    font-size: 1.62vw;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.8vh;
    margin-left: 1vw;
}

.navLabels {
    vertical-align: middle;
    color: white;
    font-size: 1.62vw;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.dashIconLabel {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}

.dashboardIcon {
    vertical-align: middle;
}

.addCourseDiv {
    font-size: 2.43vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3vh;
    text-align: center;
}

.twoColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 50px;
}

.column1 {
    width: fit-content;
    padding-left: 5vw;
    padding-right: 5vw;
}

.column2 {
    width: 45%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.title, .code, .lectures, .tuts, .labs {
    margin-top: 5vh;
}

.titleLabel, .courseLabel, .lecturesLabel, .tutsLabel, .labsLabel {
    font-size: 1.62vw;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.titleLabel {
    margin-right: 3vw;
}

.courseLabel {
    margin-right: 2.4vw;
}

.lecturesLabel {
    margin-right: 0.55vw;
}

.tutsLabel {
    margin-right: 0.55vw;
}

.labsLabel {
    margin-right: 3.75vw;
}

#titleInput, #codeInput, #lectureInput, #tutorialInput, #labsInput, #credit {
    border: solid #FFD0A1 2px;
    border-radius: 5px;
    height: 4.63vh;
    width: 26.0416666vw;
}

.majors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.majorsLabel {
    font-size: 1.62vw;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.metLabel, .ietLabel, .otherLabel {
    font-size: 1.35vw;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.subMajor {
    font-size: 1.08vw;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.subColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description {
    font-size: 1.62vw;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

#descriptionInput {
    border: solid #FFD0A1 2px;
    border-radius: 5px;
    height: 20vh;
    width: 33.489vw;
}

.addCourse {
    color: white;
    background-color: #FFD0A1;
    font-size: 1.296vw;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    width: 10.46875vw;
    height: 6.296vh;
    border-radius: 5px;
    border: none;
    align-items: center;
}


.buttonDiv {
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    margin-left: 44.765625vw;
    margin-right: 44.765625vw;
}
