@@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
}

.header {
    height: 7.6171875vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    top: 0px;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }

.logo {
    width: 20.57vw;
    height: 5.315104166666667vw;
}

.bar {
    width: 2.57vw;
    height: 5.315104166666667vw;
}

.label1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}

.adminLogo {
    width: 3.875vw;
    height: 7.67920133vh;
    margin-left: 20vw;
}

.adminLabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.56vw;
    font-weight: 600;
    margin-left: 1vw;
}

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 17.03125vw;
    margin-right: 17.03125vw;
    background: linear-gradient(to right, #FFE171, #FFC3C6);
    border-radius: 40px;
    vertical-align: middle;
    justify-content: space-around;
}

.dashboard {
    vertical-align: middle;
    color: white;
    text-decoration: none;
    font-size: 1.62vw;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.8vh;
    margin-left: 1vw;
}

.navLabels {
    vertical-align: middle;
    color: white;
    font-size: 1.62vw;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.dashIconLabel {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}

.dashboardIcon {
    vertical-align: middle;
}

.addStudentActivityDiv {
    font-size: 2.43vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3vh;
    text-align: center;
}
.twoColumns{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.column1,.column2 {
    width: 30%;
    margin-left: 120px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.section{
    display:flex;
    flex-direction:column;
    row-gap:10px;
}
.label {
    font-size: 1.5vw;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.addIcon {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.addIcon:hover{
    cursor:pointer;
}

.input {
    border: 1.5px solid #FFC3C6;
    width:270px;
    height:25px;
    border-radius:5px;
}
.inputAbout {
    border: 1.5px solid #FFC3C6;
    width: 270px;
    height: 100px;
    border-radius: 5px;
}
#color1, #color2, #color3, #color4 ,#color5{
    width: 20px;
    height: 20px;
}
    #color1:hover, #color2:hover, #color3:hover, #color4:hover, #color5:hover {
        width: 25px;
        height: 25px;
        cursor:pointer;
    }
        
.colors{
    display:flex;
    flex-direction:row;
    column-gap:10px;
}
#color1 {
    background-image: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(237, 28, 36, 0.9));
}
#color2 {
    background-image: linear-gradient(to left,rgba(22, 160, 93, 1),rgba(79, 141, 245, 1),rgba(22, 160, 93, 1));
}
#color3 {
    background-image: linear-gradient(to left,rgba(10, 71, 152, 0.5),rgba(10, 71, 152, 1));
}
#color4 {
    background-image: linear-gradient(to right,RGBA(27,51,124,100),RGBA(237,28,36,90));
}
#color5 {
    background-image: linear-gradient(to right,rgba(51, 102, 187, 1),rgba(51, 102, 187, 1),rgba(37, 175, 68, 1));
}
.add {
    width: 110px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    background-color: #FFD0A1;
}
.add:hover{
    cursor:pointer;
}

.addDiv {
    margin: auto;
    text-align: center;
}
.plus{
    color: #FFD0A1;
    font-size:1.2vw;
    border:none;
    background-color:transparent;
    cursor:pointer;
}
.plus:hover{
    cursor:pointer;
    font-size:1.5vw;
}
.labelTrack {
    font-size: 1.2vw;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    column-gap: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
}
   
#hidden{
    display:flex;
    flex-direction:column;
    row-gap:10px;
}

input[type=file]::file-selector-button {
    border: 2px solid #FFD0A1;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #FFD0A1;
    transition: 1s;
    color:white;
}
    input[type=file]::file-selector-button:hover {
        background-color: black;
        border: 2px solid black;
        transition: 0.5s;
        cursor:pointer;
    }

#tracks{
    display:flex;
    flex-direction:column;
    row-gap:7px;
}
