@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    margin: 0;
    height: 100%;
}



.header {
    left: 0;
    height: 5.5vw;
    width: 100%;
    display: flex;align-items: center;
    flex-direction: row;
    justify-content: start;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }

.logo {
    width: 14vw;
    height: 4vw;
}

.bar {
    width: 2.57vw;
    height: 4vw;
}

.label1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}

.adminLogo {
    width: 2.8vw;
    margin-left: 28vw;
}

.adminLabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.56vw;
    font-weight: 600;
    margin-left: 1vw;
}






nav {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard:hover {
    cursor: pointer;
}

.navUl {
    width: 64vw;
    height: 3.5vw;
    background: linear-gradient(to right, #FFE171, #FFC3C6);
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.2vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

    ul::after {
        content: '';
        clear: both;
        display: block;
    }

nav > ul > li {
    position: relative;
}

a:hover {
    cursor: default;
}

nav > ul > li > a {
    /*border: solid red;*/
    display: block;
    padding: 0px;
    color: white;
    font-size: 1.62vw;
    font-weight: 400;
    text-decoration: none;
}

nav > a:hover {
    background: #88bfff;
}

.dropdown {
    position: relative;
    margin: 0 0 0 3vw;
}

.dropdown-content {
    display: none;
    background-color: wheat;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    padding: 1vw 0 0.5vw 0;
}

    .dropdown:hover .dropdown-content li {
        margin: 0.5vw;
        font-size: .85vw;
        color: white;
        font-weight: 500;
    }

.dropdown:hover #dropdown-home {
    width: 9vw;
    background: linear-gradient(to right, rgba(251,213,137,255), #fad195);
}

.dropdown:hover #dropdown-course {
    width: 9.3vw;
    background: linear-gradient(to right, #fbd295, #facda1);
}

.dropdown:hover #dropdown-studentActivity {
    width: 12vw;
    background: linear-gradient(to right, #fbcea1, #fac9b4);
}

.dropdown:hover #dropdown-others {
    width: 8vw;
    background: linear-gradient(to right, #fac6b9, #f9c3c4);
}


.dropdown:hover .dropdown-content a {
    text-decoration: none;
    color: white;
}

    .dropdown:hover .dropdown-content a:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.dashboard {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.62vw;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1vw;
}

.dashboardIcon {
    margin-top: 0.3vw;
    width: 2.5vw;
}




.addInstructorDiv {
    font-size: 2.43vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}
.container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.name, .position, .email {
    margin-top: 2vw;
}

.nameLabel, .positionLabel, .emailLabel {
    font-size: 1.62vw;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

#nameInput, #positionInput, #emailInput {
    border: solid #dbdfe3 1px;
    border-radius: 2px;
    height: 2.4vw;
    width: 26.0416666vw;
    float: left;
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
    -webkit-transition: all .2s;
}
    #nameInput:focus, #positionInput:focus, #emailInput:focus {
        outline: solid;
        border-color: #FFBF80;
        outline-color: #FFDFC8;
    }
.sendInvite {
    color: white;
    background-color: #FFD0A1;
    font-size: 1.296vw;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    width: 15.625vw;
    height: 6.296vh;
    border-radius: 5px;
    border: none;
    align-items: center;
   
    -webkit-transition: all .3s;
}
    .sendInvite:hover {
        background-color: black;
        cursor: pointer;
    }

.buttonDiv {
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    margin-left: 42.1875vw;
    margin-right: 42.1875vw;
    margin-bottom: 2vw;
}
