body {

}
.title {
    text-align: center;
    font-size: 2.25vw;
    font-weight: 900;
    font-family: 'Montserrat';
}
.courseremove {
    background: linear-gradient(to right, #FFE171, #FFC3C6);
    border-radius: 40px;
    width: 73.6vw;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding-top: 150px;
    margin:auto;
}
.course {
    border-radius: 20px;
    background-color: white;
    width: 63.6vw;
    height:80px;
    margin:auto;
}
.coursename {
    text-align: left;
    font-size: 1.5vw;
    font-weight:500;
    font-family: 'Montserrat';
    padding-top:30px;
    margin-left:20px;
}