@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

/*form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.2552083333333335vw;
}*/









.addAlumniDiv {
   
    font-size: 2.43vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3vw;
    display:flex;
    justify-content:center;
}
.container {

    /*border: solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs {
    /*border:solid green;*/
    width:fit-content;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:flex-start;
    
}

.name, .profile, .about {
    margin-top: 2vw;
}

.nameLabel, .profileLabel, .aboutLabel {
    font-size: 1.62vw;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

#nameInput {
    border: solid #dbdfe3 1px;
    border-radius: 2px;
    height: 2.4vw;
    width: 26.0416666vw;
    float: left;
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-size:0.9vw;
    -webkit-transition: all .2s;
}
    #nameInput:focus, #aboutInput:focus {
        
        outline: solid;
        border-color: #FFBF80;
        outline-color: #FFDFC8;
    }



#aboutInput {
    border: solid #dbdfe3 1px;
    border-radius: 2px;
    height: 6.404320635416667vw;
    width: 26.0416666vw;
    float: left;
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-family: 'Montserrat', sans-serif;
}

.profilePicture {
    color: white;
    background-color: #FFD0A1;
    padding: 0.6vw;
    padding-top: 0.7vw;
    padding-left: 1.2vw;
    font-size: 1.1vw;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    width: 9vw;
 
    border-radius: 5px;
    border: none;
    align-items: center;
    cursor: pointer;
}
.profileButtonContainer {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: start;
    column-gap: 1vw;
}
.files {
    font-family: 'Montserrat', sans-serif;
    font-size:1vw;

}

.addAlumni {
    color: white;
    background-color: #FFD0A1;
    font-size: 1.296vw;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    width: 15.625vw;
    height: 6.296vh;
    border-radius: 5px;
    border: none;
    align-items: center;
    -webkit-transition: all .3s;
}
.addAlumni:hover{
    background-color:black;
    cursor:pointer;
}

.buttonDiv {
    
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    margin-left: 42.1875vw;
    margin-right: 42.1875vw;
    margin-bottom:2vw;
}
#input1 {
   display:none;
}
.confirmdiv {
    position: absolute;
    left: 30%;
    top: 45%;
    width: 40%;
    height: 20%;
    background: linear-gradient(109.99deg, #FFE172 -31.48%, #FFE173 -31.47%, #FFC5C2 100%);
    border-radius: 0.9765625vw;
}
.confirmlabel {
    margin-top: 2%;
    margin-left: 2%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6276041666666667vw;
    line-height: 1.953125vw;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.yesnodiv{
    flex-direction:row;
    column-gap:3.3vw;
    display:flex;
    width:70%;
    top:30%;
    left:30%;
    position:relative;
    height:auto;
}
.yesnodiv > button{
    flex-grow:1 1 0;
    display:flex;
}
.successdiv {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
    background: linear-gradient(109.99deg, #FFE172 -31.48%, #FFE173 -31.47%, #FFC5C2 100%);
    border-radius: 0.9765625vw;
}
.img1{
    top:10%;
    left:35%;
    position:relative;

}
.xbutton{
    top:-45%;
    
    width:50px;
    position:relative;
    border-radius:2px;

}
.xbutton:hover{
    background-color:red;
}
.confirmlabel2 {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6276041666666667vw;
    line-height: 1.953125vw;
    top:20%;
    left:-10%;
    position:relative;
    text-transform: capitalize;
    color: #FFFFFF;
}
.navdiv {
    width: auto;
    background: linear-gradient(109.99deg, #FFE172 -31.48%, #FFE173 -31.47%, #FFC5C2 100%);
    height:auto;
}
.dropitem {
    cursor: pointer;
    color: white;
    font-size: 1vw;
    font-family: 'Montserrat';
}
.coursebtn {
    border: none;
    font-size: 2vw;
    font-family: 'Montserrat';
    background-color:transparent;
    cursor: pointer;
}
.coursebtn:hover {
    text-decoration-color:blue;
    text-decoration:underline;

}

.confirmationOverlay{
    display:flex;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    justify-content:center;
    align-items:center;
  
}
#confirmationOverlay {
    display: flex;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    justify-content:center;
    align-items:center;
}

.confirmationBox {
    width: 35%;
    height: 35%;
    background: linear-gradient(109.99deg, #FFE172 -31.48%, #FFE173 -31.47%, #FFC5C2 100%);
    border-radius: 0.9765625vw;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    row-gap: 12%;

}
.confirmationLabel{
    margin-top:4vw;
    width:80%;
    font-weight:600;
    font-size:1.4vw;
    text-align:center;
   
}
.confirmationButtons {
    width: 20vw;
    height:1.7vw;
    display: flex;
    
    flex-direction: row;
    justify-content: space-between
}
.yesnobtn {
    background: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 0.325vw;
    width: 40%;
    height: 170%;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2vw;
    -webkit-transition: all .2s;
}
.yesnobtn:hover{
    cursor:pointer;
    background-color:black;
    color:white;
}
.successOverlay {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 11616151;
}
.successBox {
    width: 35%;
    height: 37%;
    background: linear-gradient(109.99deg, #FFE172 -31.48%, #FFE173 -31.47%, #FFC5C2 100%);
    border-radius: 0.9765625vw;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start; 
}

.closeButton {
    width: 1.8vw;
    height: 1.7vw;
    margin: 1.5vw 1.8vw 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    border-radius: 0.65625vw;
    -webkit-transition: all .2s;
}
.closeButton span{
    text-align:center;
    margin-bottom:2px;
    font-size:1.2vw;
}
.successMessage {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    row-gap: 2vw;
   
}
.successMessage img {
    width: 22%
}
.closeButton:hover {
    background-color: #F93542;
    color:white;
    cursor:pointer;
}
.successLabel {
    font-weight: 600;
    font-size: 1.5vw;
    text-align: center;
    width: 80%;
}