@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

form {
    padding-bottom: 2vw;
}

.assignDiv {
    font-size: 2.43vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}

.yearSeason {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yearLabel, .seasonLabel {
    font-size: 1.62vw;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.year, .season {
    margin-top: 2vw;
}

.yearInput, .seasonInput {
    border: solid #dbdfe3 1px;
    border-radius: 2px;
    height: 2.4vw;
    width: 26.0416666vw;
    float: left;
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
    -webkit-transition: all .2s;
}
    .yearInput:focus, .seasonInput:focus {
        outline: solid;
        border-color: #FFBF80;
        outline-color: #FFDFC8;
    }

.updateSettingDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:3vw;
}

.updateSetting {
    color: white;
    background-color: #FFD0A1;
    font-size: 1.296vw;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    width: 12vw;
    height: 6.296vh;
    border-radius: 0.3255208333333333vw;
    border: none;
    -webkit-transition: all .3s;
}

    .updateSetting:hover {
        background-color: black;
        cursor: pointer;
    }
