@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

.header {
    height: 7.6171875vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }

.login {
    position: relative;
    width: 10.590494791666666vw;
    height: 3.7109375vw;
    border-radius: 0.32552vw;
    background-color: #FFCB05;
    border: none;
    font-size: 1.5625vw;
    margin-left: 22vw;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbtn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625vw;
    font-weight: 500;
    background-color: black;
    color: white;
    vertical-align: middle;
}

.navbar {
    background-color: black;
    height: 4.5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

    .navbar > div {
        margin-left: 10px;
        flex-grow: 1 1 0;
        display: flex;
        padding: 1.3vw;
        top: 0px;
    }

.logo {
    width: 20.57vw;
    height: 5.315104166666667vw;
}

.bar {
    width: 2.57vw;
    height: 5.315104166666667vw;
}

.navimg {
    width: 1.8229166666666667vw;
    height: 1.8229166666666667vw;
    padding-top: .27vw;
    vertical-align: middle;
}

.navimg2 {
    width: 2.5vw;
    height: 2.5vw;
    vertical-align: middle;
    padding-top: .4vw;
}

.navimg3 {
    width: 3vw;
    height: 3vw;
    padding-top: .4vw;
    vertical-align: middle;
}

.navimg4 {
    width: 2.3vw;
    height: 2.3vw;
    padding-top: .4vw;
    vertical-align: middle;
}

.label1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}



/*.logo {
    height: auto;
    width: 100%;
    max-width: 13vw;
    margin-left: 1.5vw;
}*/
.separatingBar1 {
    margin-left: 1.7vw;
    margin-right: 1.7vw;
    height: 4.5vw;
    width: 1px;
}




#Button4 {
    font-weight: 600;
    border-bottom: 0.22786458333333334vw solid #ED1C24;
}
.honors {
    width: inherit;
    background-color: #343434;
    padding: 0.6510416666666666vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.honorsTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5807291666666665vw;
    padding-top: -1.6276041666666667vw;
    font-weight: 600;
    background-color: #b52329;
    text-align: center;
    color: white;
    height: 3.90625vw;
    width: 40.104166666666664vw;
}
.honorsProfile {
    margin: 0.6510416666666666vw;
    margin-bottom: 6.510416666666667vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    align-content: start;
    width: 30%;
    /*flex-wrap: wrap*/
}
.img {
    width: 9.765625vw;
}

.profileTextContainer {
    display: flex;
    margin-top: 0.3255208333333333vw;
    margin-left: 0.9765625vw;
    flex-direction: column;
    justify-items: center;
    width: 18.229166666666668vw;
}
.honorName {
    margin-top: 0;
    margin-bottom: 0.13020833333333334vw;
    margin-top: 0;
    color: white;
    font-weight: 600;
    font-size: 1.66015625vw;
    font-family: 'Montserrat', sans-serif;
}

.honorParagraph {
    margin: 0;
    color: white;
    font-size: 0.9765625vw;
    font-family: 'Montserrat', sans-serif;
}
.spereatingBar2 {
    height: 10vw;
    width: 3px;
    margin-right: 1.3020833333333333vw;
}

@font-face {
    font-family: Tanseek;
    src: url('../fonts/Tanseek Modern Pro Arabic.ttf');
}
.careers {
    background-color: white;
    display: flex;
    padding: 4.5vw;
    flex-direction: row;
    align-items:center;
}
.careerText {
    width: 20.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.careerTitle {

    font-family: Tanseek, sans-serif;
    font-size: 3.5vw;
    font-weight: 500;
    letter-spacing: 2px;
    text-align:center;
}
.careerParagraph {

    font-family: 'Montserrat', sans-serif;
    width: 18vw;

    font-size: 1.5vw;
    font-weight: 500;
}
/*border:solid;
border-color:green;*/
.lol {
    background-color: white;
    height: 10.091145833333334vw;
    width: 0.20833333333333334vw;
    margin-right: 1.3020833333333333vw;
}