html, body {
    margin: 0;
    height: 100%;
}

.header {
    height: 7.6171875vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }

.login {
    position: relative;
    width: 10.590494791666666vw;
    height: 3.7109375vw;
    border-radius: 0.32552vw;
    background-color: #FFCB05;
    border: none;
    font-size: 1.5625vw;
    margin-left: 22vw;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbtn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625vw;
    font-weight: 500;
    background-color: black;
    color: white;
    vertical-align: middle;
}

.navbar {
    background-color: black;
    height: 4.5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

    .navbar > div {
        margin-left: 10px;
        flex-grow: 1 1 0;
        display: flex;
        padding: 1.3vw;
        top: 0px;
    }

.logo {
    width: 20.57vw;
    height: 5.315104166666667vw;
}

.bar {
    width: 2.57vw;
    height: 5.315104166666667vw;
}

.navimg {
    width: 1.8229166666666667vw;
    height: 1.8229166666666667vw;
    padding-top: .27vw;
    vertical-align: middle;
}

.navimg2 {
    width: 2.5vw;
    height: 2.5vw;
    vertical-align: middle;
    padding-top: .4vw;
}

.navimg3 {
    width: 3.3vw;
    height: 3.3vw;
    padding-top: .4vw;
    vertical-align: middle;
}

.label1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}



.row_flex {
    width: 100%;
    display: flex;
    align-items:flex-start;
    flex-direction: row;
    justify-content: start;
}

    .row_flex> div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }


.Catalouge {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: start;
}
    .Catalouge > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }
.collapsible {
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 5px;
    width: 30%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active  {
        font-weight : bold;
        font-size : 18px;
    }

.content {
    border : none;
    
    padding: 0 18px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}