@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*    border: 3px solid green;
*/
body {
}
.flex-container-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32.096354166666664vw;
    background: linear-gradient(to right, #000000, #ED1C24, #FFCB05);
}

.flex-child-1 {

}

    .flex-child-1:first-child {
        margin-right: 24.994791666666668vw;
        margin-left: 3.90625vw;
        width: 11.393229166666666vw;
        width: 46.77734375vw;
        overflow: hidden;
        font-family: Monda;
        font-size: 3.5807291666666665vw;
        font-weight: bold;
        text-align: left;
        color: #FFFFFF;
        margin-left: 3.2552083333333335vw;
        position: relative;
        left: 25%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0.6510416666666666vw;
        padding-top: 13.020833333333334vw;
    }
    .flex-child-1:last-child {
        padding-top: 5.208333333333333vw;
    }

.nav2-img {
    width: 2.9vw;
    height: 2.9vw;
    padding-top: .2vw;
    vertical-align: middle;
}

/*.course-title {
    width: 100%;
    height: 32.096354166666664vw;
    background: linear-gradient(to right, #000000, #ED1C24, #FFCB05);
    display: flex;
}

.course-title-text {
    width: 46.77734375vw;
    overflow: hidden;
    font-family: Monda;
    font-size: 3.5807291666666665vw;
    font-weight: bold;
    text-align: left;
    color: #FFFFFF;
    margin-left: 3.2552083333333335vw;
    position: relative;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.6510416666666666vw;
    border: 3px solid green;
}

.course-title-info {
    border: 3px solid green;
    position: relative;
}

.center {
    position: absolute;
    left: 80%;
    top: 52.5%;
    transform: translate(-50%, -50%);
    padding: 0.6510416666666666vw;
}*/

.line {
    width: 100%;
    height: 0.06510416666666667vw;
    background-color: #D9D9D9;
    display: flex;
}

.title {
    font-family: 'Montserrat';
    font-size: 3.2552083333333335vw;
    font-weight: 300;
    text-align: center;
}

.updates {
    font-family: 'Montserrat';
    font-size: 2.2786458333333335vw;
    font-weight: 600;
    color: #ED1C24;
    display: table;
    margin: 0 auto;
    margin-bottom: 3.2552083333333335vw;
}

.line2 {
    width: 65.10416666666667vw;
    height: 0.7161458333333334vw;
    background: linear-gradient(to right, #000000, #ED1C24, #FFCB05);
    display: flex;
}

.centerdiv {
    margin: auto;
    width: 60%;
}

.description {
    font-family: 'Montserrat';
    font-size: 1.6927083333333333vw;
    font-weight: 400;
    color: #000000;
    margin-bottom: 3.2552083333333335vw;
    margin-left: 1.953125vw;
}

.prerequisites {
    font-family: 'Montserrat';
    font-size: 1.953125vw;
    font-weight: 400;
    color: #000000;
    margin-bottom: 3.2552083333333335vw;
    margin-left: 1.953125vw;
}

.margin-left-180 {
    margin-left: 11.71875vw;
}

.syllabus-title {
    font-family: 'Montserrat';
    font-size: 1.953125vw;
    font-weight: 300;
    color: #000000;
}

.syllabus-description {
    font-family: 'Montserrat';
    font-size: 1.6276041666666667vw;
    font-weight: 300;
    color: #000000;
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
}

.flex-child {
}

    .flex-child:first-child {
        margin-right: 1.3020833333333333vw;
        margin-left: 3.90625vw;
        width: 11.393229166666666vw;
    }

.syllabus-line {
    margin-left: 13.671875vw;
    width: 81.38020833333333vw;
}

.week-number {
    font-family: 'Montserrat';
    font-size: 3.2552083333333335vw;
    font-weight: 300;
    padding-left: 1.6276041666666667vw;
    background: -webkit-linear-gradient(#000000, #ED1C24, #FFCB05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.show-moreDiv {
    width: 8.5%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.2552083333333335vw;
}

.show-more {
    padding: 10% 18% 10% 18%;
    border-radius: 0.3255208333333333vw;
    background-color: #FFCB05;
    border: none;
    font-size: 1.5625vw;
    font-weight: 400;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

    .show-more:hover {
        background-color: black;
        transition: 0.5s;
        cursor: pointer;
    }

.instructors-title {
    font-family: 'Montserrat';
    font-size: 2.6041666666666665vw;
    font-weight: 300;
    margin-left: 1.953125vw;
}

.instructors-names {
    font-family: 'Montserrat';
    font-size: 1.6276041666666667vw;
    font-weight: 400;
    color: #000000;
    margin-bottom: 3.2552083333333335vw;
    margin-left: 3.90625vw;
}

.resources {
    font-family: 'Montserrat';
    font-size: 1.953125vw;
    font-weight: 300;
    color: #000000;
}


.margin-bottom {
    margin-bottom: 2.0182291666666665vw;
}

.margin-left {
    margin-left: 1.953125vw;
}



span {
    font-family: Monda;
    font-size: 1.6276041666666667vw;
    font-weight: bold;
    color: #FFFFFF;
}



.navbar2 {
    width: 100%;
    height: 3.1901041666666665vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

    .navbar2 > div {
        margin-left: 0.6510416666666666vw;
        flex-grow: 1 1 0;
        display: flex;
        padding: 1.3vw;
        top: 0vw;
    }

/*.AboutNav {
    color: black;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 49px;
    cursor: pointer;
}

    .AboutNav :hover {
        font-weight: 900;
        text-decoration: underline;
        font-size: 1.6vw;
        font-family: 'Montserrat';
        font-weight: 500;
    }
    */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
    font-family: 'Montserrat';
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6276041666666667vw;
}

    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 0.13020833333333334vw;
        bottom: 0;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
        font-family: 'Montserrat';
        font-weight: 500;
    }

    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
