@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



html, body {
    margin: 0px;
    height: 100%;
}

.body {
    display: flex;
    height:stretch;
    height:39vw;
    flex-direction: row;
    margin-top: 1.875vw;
    align-items:start;
}

.index {
    margin-top:1vw;
    margin-left: 1.71875vw;
    margin-right: 0.677vw;
    width: 30vw;
    overflow-x: hidden;
    overflow-y: auto;
}

    .index div {
        margin-bottom: 1.5vw;
        transition: all 0.3s ease-in;
      
    }

        .index::-webkit-scrollbar {
            width: 0.1vw;
        }

.vertical {
    margin-right: 2.96875vw;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(237, 28, 36, 1), rgba(255, 203, 5, 1));
    height: 36vw;
    width: 0.075vw;
}

.semesters {
    margin-top:1vw;
    margin-right: 8.125vw;
    width: 56.352vw;
    height: 36vw;
    overflow-x: hidden;
    overflow-y: auto;
}

    .semesters::-webkit-scrollbar {
        width: 0.1vw;
    }

.searchDiv {
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1.3vw;
    padding-left: 0.9765625vw;
    margin-right: 3.5vw;
}

    .searchDiv input[type=text] {
        height: 2.5vw;
        width: 20vw;
        background-color: #ECECEC;
        font-family: 'Montserrat', sans-serif;
        border: none;
        padding-left: 0.3255208333333333vw;
        margin-right: 1.0416666666666667vw;
        font-size: 1.0416666666666667vw;
    }

        .searchDiv input[type=text]:focus {
            outline: none;
        }

.searchButton {
    width: 1.6vw;
    height: 1.4vw;
}

.bulletPoint {
    margin-left:0.28vw;
    width: 0.6vw;
    height: 0.6vw;
    vertical-align: middle;
}

.indexButtonIn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
    font-weight: 600;
    vertical-align: middle;
    margin-left: 0.52vw;
    transition: all 0.05s linear;
}

.indexButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
    font-weight: 400;
    vertical-align: middle;
    margin-left: 0.52vw;
    transition: all 0.05s linear;
}

.plusPoint {
    margin-top:0.1vw;
    width: 1.2vw;
    height: 1.2vw;
    vertical-align: middle;
}

.graduateCourses, .undergraduateCourses, .facultiesItems, .subMajors, .semesterListOpened, .undergradSemesters {
    display: none;
}

.graduateCoursesLabel {

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5vw;
    margin-bottom: 0.5vw;
}

ul.coursesList li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
}

.tempLabelDiv {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2vw;
}

.FacultyLabelButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25vw;
    font-weight: 400;
    vertical-align: middle;
    margin-left: 2.3vw;
    margin-bottom: 0.5vw;

}
    .FacultyLabelButton:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.05vw;
        text-decoration-color: #4B8FEA;
    }


    ul.subMajorsList {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul.subMajorsList li {
        margin-bottom: 0.2vw;
    }

.subMajorLabel {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    color: #4B8FEA;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-weight: 300;
    vertical-align: middle;
    margin-left: 4.9vw;
}

.semesterDivClosed {
    position: relative;
    width: 55vw;
    height: 3.8vw;
    border-radius: 1.2vw;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(237, 28, 36, 1), rgba(255, 203, 5, 1));
    margin-bottom: 1.8vw;
    display: block;
    transition:transform 0.3s ease-in;
}

.plusCourse {
    position: absolute;
    width: 1.3vw;
    height: 1.3vw;
    margin-top: 1.2vw;
    margin-left: 2.08333333333vw;
    transition: all 0.3s ease-in;
}

.semesterButton {
    position: absolute;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 0.765vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    color: white;
    font-size: 1.7vw;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05vw;
    font-weight: 500;
    text-align: left;
    transition: all 0.3s ease-in;
}

.semesterDivOpened {
    position: relative;
    width: 55vw;
    height: 3.8vw;
    border-radius: 1.2vw;
    background-color: black;
    margin-bottom: 1vw;
    display: none;
    transition: 0.3s ease-in;
    transition-property: display;
}

ul.coursesList li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    margin-bottom: 0.8vw;
}

a {
    text-decoration: none;
    color: inherit;
}
    a:hover {
        text-decoration: none;
        color: #4B8FEA;
    }