@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*    border: 3px solid green;
*/
body {
}

.course-title {
    width: 100%;
    height: 493px;
    background: linear-gradient(to right, #000000, #ED1C24, #FFCB05);
    display: flex;
}

.course-title-text {
    width: 718.5px;
    overflow: hidden;
    font-family: Monda;
    font-size: 55px;
    font-weight: bold;
    text-align: left;
    color: #FFFFFF;
    margin-left: 50px;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.course-title-info {
}

.line {
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    display: flex;
}

.title {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

.updates {
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 600;
    color: #ED1C24;
    display: table;
    margin: 0 auto;
    margin-bottom: 50px;
}

.line2 {
    width: 1000px;
    height: 11px;
    background: linear-gradient(to right, #000000, #ED1C24, #FFCB05);
    display: flex;
}

.centerdiv {
    margin: auto;
    width: 60%;
}

.description {
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 50px;
    margin-left: 30px;
}

.prerequisites {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 50px;
    margin-left: 30px;
}

.margin-left-180 {
    margin-left: 180px;
}

.syllabus-title {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 300;
    color: #000000;
}

.syllabus-description {
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 300;
    color: #000000;
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
}

.flex-child {
}

    .flex-child:first-child {
        margin-right: 20px;
        margin-left: 60px;
        width: 175px;
    }

.syllabus-line {
    margin-left: 210px;
    width: 1250px;
}

.week-number {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 300;
    padding-left: 25px;
    background: -webkit-linear-gradient(#000000, #ED1C24, #FFCB05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.show-moreDiv {
    width: 8.5%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.show-more {
    padding: 10% 18% 10% 18%;
    border-radius: 5px;
    background-color: #FFCB05;
    border: none;
    font-size: 24px;
    font-weight: 400;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.instructors-title {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 300;
    margin-left: 30px;
}

.instructors-names {
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 50px;
    margin-left: 60px;
}

.resources {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 300;
    color: #000000;
}


.margin-bottom {
    margin-bottom: 31px;
}

.margin-left {
    margin-left: 30px;
}

.center {
    position: absolute;
    left: 80%;
    top: 52.5%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

span {
    font-family: Monda;
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
}



.navbar2 {
    width: 100%;
    height: 3.1901041666666665vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

    .navbar2 > div {
        margin-left: 10px;
        flex-grow: 1 1 0;
        display: flex;
        padding: 1.3vw;
        top: 0px;
    }

/*.AboutNav {
    color: black;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 49px;
    cursor: pointer;
}

    .AboutNav :hover {
        font-weight: 900;
        text-decoration: underline;
        font-size: 1.6vw;
        font-family: 'Montserrat';
        font-weight: 500;
    }
    */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
    font-family: 'Montserrat';
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
}

    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
        font-family: 'Montserrat';
        font-weight: 500;
    }

    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
