@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

.* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    height: 100%;
}

/*.scrollable{
    top:0px;
    position:fixed;
    background-color:white;
    width:100%;
}*/

.header {
    height: 7.61716752vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    top: 0px;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }

.logo {
    width: 20.57vw;
    height: 5.31510415vw;
}

.bar {
    width: 2.57vw;
    height: 5.31510415vw;
}

.facultyLabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}

.login {
    position: relative;
    width: 10.590494791666666vw;
    height: 3.7109375vw;
    border-radius: 0.32552vw;
    background-color: #FFCB05;
    border: none;
    font-size: 1.5625vw;
    margin-left: 22vw;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

    .login:hover {
        background-color: black;
        transition: 0.5s;
        cursor: pointer;
    }

.navbar {
    background-color: black;
    height: 4.3vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .navbar > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1.5vw;
    }

.navbtn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
    background-color: black;
    color: white;
}

    .navbtn:hover {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid;
        border-color: red;
        border-width: 3px;
        cursor: pointer;
        transition: 0.5s;
    }

.navbtnin {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625vw;
    font-weight: 500;
    background-color: black;
    color: white;
    vertical-align: middle;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: red;
    border-width: 3px;
    cursor: default;
}

.navImgHomeBookHeadphones {
    width: 1.6vw;
    height: 1.6vw;
}

.navImgGroup {
    width: 1.9vw;
    height: 2.2vw;
}

.navImgGrad {
    width: 1.6vw;
    height: 1.6vw;
}

.navImgAbout {
    width: 2vw;
    height: 2vw;
}

.flex-container-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25.6770833vw;
    background: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(237, 28, 36, 1),rgba(255, 203, 5, 0.8));
    column-gap: 35vw;
    justify-content: center;
}

.iconLineDiv {
    margin-bottom: 1.5vw;
}

.iconNoTut {
    vertical-align: middle;
    width: 2.6vw;
    height: 2.6vw;
}

.iconTut {
    vertical-align: middle;
    width: 3.25520833vw;
    height: 2.6vw;
}

.iconLabelNoTut {
    vertical-align: middle;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 3.64583333vw;
    color: white;
}

.iconLabelTut {
    vertical-align: middle;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 2.9166666666vw;
    color: white;
}

.courseTitleDiv {
    width: 34.2708333vw;
    margin-top: 6vw;
}

.courseTitle {
    font-family: Monda;
    font-weight: bolder;
    font-size: 3vw;
    color: white;
}

.iconsValues {
    margin-top: 5.15625vw;
    margin-bottom: 5vw;
}

.navbar2 {
    height: 3.1901041666666665vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    z-index: 10000;
    position: sticky;
    top: 0px;
    border: solid 1px #D9D9D9;
}

    .navbar2 > div {
        margin-left: 0.8051529790660226vw;
        flex-grow: 1 1 0;
        display: flex;
        padding: 1.3vw;
        top: 0vw;
    }


.AboutNav {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 3.9452495974235107vw;
}

    .AboutNav:hover {
        font-weight: 700;
        text-decoration: underline;
        font-size: 1.6vw;
        cursor: pointer;
    }

ul {
    list-style: none;
    justify-content: center;
    margin-top: 3vw;
}

    ul li.updateItem::before {
        content: "\2022";
        color: #ED1C24;
        font-weight: 800;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        opacity: 80%;
    }

li.updateItem {
    margin-bottom: 1vw;
    color: #ED1C24;
    margin-left: 4.296875vw;
    font-size: 1.8vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.infoTitleDiv {
    text-align: center;
    margin-top: 3.5vw;
}

.infoTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.9vw;
    font-weight: 500;
}

.gradientBar {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(237, 28, 36, 0.9), rgba(255, 203, 5, 0.8));
    width: 52.08333333333333vw;
    height: 0.5729166666666667vw;
    margin-left: 23.95833333333333vw;
    margin-top: 3vw;
}

.textDiv {
    margin-left: 4.296875vw;
    margin-top: 3vw;
    /*width: 91.40625vw;*/
    margin-right: 4.296875vw;
}

.descriptionText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
}

ul.listDiv {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.8vw;
}

    ul li.courseItem::before {
        content: "\2022";
        color: black;
        font-weight: 800;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        opacity: 80%;
    }

li.courseItem {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.8vw;
    margin-bottom: 1vw;
    margin-left: 4.296875vw;
}

.itemDiv {
    margin-top: 3vw;
    margin-left: 4.6875vw;
    margin-right: 4.6875vw;
}

.upper {
    display: flex;
    flex-direction: row;
}

.sideInfo {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.week, .weekDate {
    font-size: 1.4vw;
    font-weight: 300;
}

.weekNo {
    font-size: 2.8vw;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 1),rgba(237, 28, 36, 0.9),rgba(255, 203, 5, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
}

.vertical {
    border-left: 0.08051529790660225vw solid grey;
    height: 7vw;
    position: center;
    margin-left: 3vw;
    margin-right: 2vw;
    opacity: 0.5;
}

.details {
    width: 75.67708333vw;
}

.weekTitle {
    font-size: 1.6vw;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.7vw;
    display: flex;
    flex-direction: row;
    column-gap: 1.63vw;
    align-content: center;
    align-items: center;
}


.weekDescription {
    font-size: 1.4vw;
    font-family: 'Montserrat', sans-serif;
}

.horizontal {
    height: 0.052vw;
    width: 74vw;
    color: gray;
    background-color: gray;
    opacity: 0.3;
    margin-left: 10vw;
}

.horizontal2 {
    height: 0.092vw;
    width: 90vw;
    color: gray;
    background-color: gray;
    opacity: 0.8;
}

.lower {
    font-size: 1.6vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-left: 12vw;
    margin-top: 1.5vw;
}

.materialItemDiv {
    margin-bottom: 0.8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1vw;
}

.showMore {
    background-color: #FFCB05;
    align-content: center;
    width: 12.60416666666667vw;
    height: 3.541666666666667vw;
    border-radius: 0.32552vw;
    border: none;
    font-size: 1.44vw;
    font-weight: 400;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
    display: grid;
    margin: auto;
    margin-top: 2.5vw;
}

    .showMore:hover {
        background-color: #000000;
        transition: 0.5s;
        cursor: pointer;
    }

.instructorsLabelDiv {
    margin-left: 4.1666666666vw;
    margin-top: 3vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4vw;
    font-weight: 400;
}

ul.instructorsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    margin-left: 7vw;
}

li.instructorItem {
    margin-right: 12.5vw;
    width: 16.7vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    font-weight: 300;
    margin-bottom: 1vw;
}

ul.instructorsList li.instructorItem::before {
    content: "\2022";
    color: black;
    font-weight: 800;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    opacity: 80%;
}

.resourcsItem {
    margin-top: 2vw;
    margin-left: 6.25vw;
}

.linkImage {
    width: 2.08333333vw;
    height: 2.08333333vw;
    vertical-align: middle;
}

.resourceLink {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vw;
    font-weight: 400;
    margin-left: 1.30208333vw;
}

.blank {
    min-height: 2vw;
}