@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    height: 100%;
}

/*.scrollable{
    top:0px;
    position:fixed;
    background-color:white;
    width:100%;
}*/

.body {
    display: flex;
    flex-direction: row;
    margin-top: 1.875vw;
}

.index {
    margin-left: 1.71875vw;
    margin-right: 0.677vw;
    margin-top: 1.40625vw;
    width: 30vw;
    overflow-x: hidden;
    overflow-y: auto;
}

    .index div {
        margin-bottom: 1.5vw;
    }

    .index::-webkit-scrollbar {
        width: 0.1vw;
    }

.vertical {
    margin-right: 2.96875vw;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(237, 28, 36, 1), rgba(255, 203, 5, 1));
    height: 30vw;
    width: 0.075vw;
}

.semesters {
    margin-right: 8.125vw;
    width: 56.352vw;
    height: 29vw;
    overflow-x: hidden;
    overflow-y: auto;
}

    .semesters::-webkit-scrollbar {
        width: 0.1vw;
    }

.searchDiv {
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1.3vw;
    padding-left: 0.9765625vw;
    margin-right: 3.5vw;
}

    .searchDiv input[type=text] {
        height: 2.5vw;
        width: 20vw;
        background-color: #ECECEC;
        font-family: 'Montserrat', sans-serif;
        border: none;
        padding-left: 0.3255208333333333vw;
        margin-right: 1.0416666666666667vw;
        font-size: 1.0416666666666667vw;
    }

        .searchDiv input[type=text]:focus {
            outline: none;
        }

.searchButton {
    width: 1.6vw;
    height: 1.4vw;
}

.bulletPoint {
    width: 0.78125vw;
    height: 0.78125vw;
    vertical-align: middle;
}

.indexButtonIn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
    font-weight: 600;
    vertical-align: middle;
    margin-left: 0.52vw;
}

.indexButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
    font-weight: 400;
    vertical-align: middle;
    margin-left: 0.52vw;
}

.plusPoint {
    width: 1.3vw;
    height: 1.3vw;
    vertical-align: middle;
}

.graduateCourses, .undergraduateCourses, .facultiesItems, .subMajors, .semesterListOpened, .undergradSemesters {
    display: none;
}

.graduateCoursesLabel {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5vw;
    margin-bottom: 0.5vw;
}

ul.coursesList li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
}

.tempLabelDiv {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2vw;
}

.FacultyLabelButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25vw;
    font-weight: 400;
    vertical-align: middle;
    margin-left: 2.3vw;
    margin-bottom: 0.5vw;
}

ul.subMajorsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ul.subMajorsList li {
        margin-bottom: 0.2vw;
    }

.subMajorLabel {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    color: #4B8FEA;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-weight: 300;
    vertical-align: middle;
    margin-left: 4.9vw;
}

.semesterDivClosed {
    width: 60vw;
    height: 4.166666666667vw;
    border-radius: 0.4vw;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(237, 28, 36, 1), rgba(255, 203, 5, 1));
    margin-bottom: 1.8vw;
    display: block;
}

.plusCourse {
    width: 1.66666666667vw;
    height: 1.66666666667vw;
    margin-top: 1.2vw;
    margin-left: 2.08333333333vw;
}

.semesterButton {
    width: 50vw;
    margin-left: 1.5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    color: white;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: left;
}

.semesterDivOpened {
    width: 60vw;
    height: 4.166666666667vw;
    border-radius: 0.4vw;
    background-color: black;
    margin-bottom: 1.2vw;
    display: none;
}

ul.coursesList li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
}

a {
    text-decoration: none;
    color: inherit;
}