@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

.* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    height: 100%;
}

/*.scrollable{
    top:0px;
    position:fixed;
    background-color:white;
    width:100%;
}*/

.flex-container-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vw;
    background: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(237, 28, 36, 1),rgba(255, 203, 5, 0.8));
    column-gap: 35vw;
    justify-content: center;
    align-items:center;
}


.iconNoTut {
    vertical-align: middle;
    width: 2.6vw;
    height: 2.6vw;
}

.iconTut {
    vertical-align: middle;
    width: 3.25520833vw;
    height: 2.6vw;
}

.iconLabelNoTut {
    text-align: start;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

.iconLabelTut {
    text-align:start;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

.courseTitleDiv {
    width: 34.2708333vw;
}

.courseTitle {
    font-family: Monda;
    font-weight: bolder;
    font-size: 2.5vw;
    color: white;

}

.iconsValues {
    display:flex;
    flex-direction:column;
    justify-content:center;
    row-gap:0.5vw;
}
.iconLineDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2vw;
    font-family: 'Montserrat', sans-serif;
}
.iconLineDiv img {
 
    width:1.5vw;
}

.navbar2 {
    height: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap:5vw;
    background-color: white;
    z-index: 10000;
    position: sticky;
    box-shadow: 0 0 1vw 0 rgba(0,0,0,0.2);
}

    .navbar2 a {
        position: relative;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3vw;
        font-weight: 500;
        letter-spacing: 0.07vw;
        color: black;
        cursor: pointer;
        transition: all 0.17s ease-in;
    }
        /*.navbar2 a:after {
            content: "";
            position: absolute;
            background: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(237, 28, 36, 1),rgba(255, 203, 5, 0.8));
            border-radius: 0.2vw;
            height: 0.2vw;
            width: 0;
            left: 0;
            bottom: -0.4vw;
            transition: all 0.1s ease-in;
        }*/

        .navbar2 a:hover {
            font-size:1.6vw;
            font-weight:600;
        }


.AboutNav {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 3.9452495974235107vw;
}

    .AboutNav:hover {
        font-weight: 700;
        text-decoration: underline;
        font-size: 1.6vw;
        cursor: pointer;
    }

ul {
    list-style: none;
    justify-content: center;
    margin-top: 2vw;
}

    ul li.updateItem::before {
        content: "\2022";
        color: #ED1C24;
        font-weight: 800;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        opacity: 80%;
    }

li.updateItem {
    margin-bottom: 1vw;
    color: #ED1C24;
    margin-left: 4.296875vw;
    font-size: 1.8vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.infoTitleDiv {
    text-align: center;
    margin-top: 3.5vw;

}

.infoTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8vw;
    font-weight: 500;
}

.gradientBar {
    background-color: #E9E9E9;
    width: 52.08333333333333vw;
    height: 0.05vw;
    margin-left: 23.95833333333333vw;
    margin-top: 3vw;
}

.textDiv {
    margin-left: 4.296875vw;
    margin-top: 3vw;
    /*width: 91.40625vw;*/
    margin-right: 4.296875vw;
}

.descriptionText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
}

ul.listDiv {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.8vw;
}

    ul li.courseItem::before {
        content: "\2022";
        color: black;
        font-weight: 800;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        opacity: 80%;
    }

li.courseItem {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    margin-left: 4.296875vw;
}
    li.courseItem:hover {
        color: #4B8FEA
    }

.itemDiv {
    margin-top: 3vw;
    margin-left: 4.6875vw;
    margin-right: 4.6875vw;
}

.upper {
    display: flex;
    flex-direction: row;

}

.sideInfo {
    width:10%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.week, .weekDate {
    font-size: 1.3vw;
    letter-spacing:0.1vw;
    font-weight: 400;
}
.weekDate {
    font-size: 1.1vw;
    font-weight:300;
}


    .weekNo {
        margin: 0.2vw 0 0.2vw 0;
        font-size: 2.3vw;
        background: -webkit-linear-gradient(rgba(0, 0, 0, 1),rgba(237, 28, 36, 0.9),rgba(255, 203, 5, 0.8));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 300;
    }

.vertical {
    content:'';
    border-left: 0.08051529790660225vw solid grey;
    height: inherit;
    margin-left: 3vw;
    margin-right: 2vw;
    opacity: 0.3;
}

.details {
    width: 75.67708333vw;
}

.weekTitle {
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    margin-bottom: 0.7vw;
    display: flex;
    flex-direction: row;
    column-gap: 1.63vw;
    align-content: center;
    align-items: center;
}


.weekDescription {
    font-size: 1.3vw;
    font-weight:300;
    font-family: 'Montserrat', sans-serif;
}

.horizontal {
    background-color: #E9E9E9;
    width: 52.08333333333333vw;
    height: 0.05vw;
    margin-left: 23.95833333333333vw;
    margin-top: 3vw;
}

.horizontal2 {
    display:none;
    height: 0.05vw;
    width: 90%;
    margin-left:5%;
    background-color: #E9E9E9;
    opacity: 0.8;
}

.lower {
    font-size: 1.6vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-left: 12vw;
    margin-top: 1.5vw;
}

.materialItemDiv {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:1.4vw;
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1vw;
}
    .materialItemDiv a::before {
        content: "\2022";
        color: black;
        font-weight: 800;
        display: inline-block;
        width: 1em;
        opacity: 80%;
    }
    .materialItemDiv a:hover {
        color: #4B8FEA;
    }

.showMore {
    background-color: #FFCB05;
    align-content: center;
    width: 12.60416666666667vw;
    height: 3.541666666666667vw;
    border-radius: 0.32552vw;
    border: none;
    font-size: 1.44vw;
    font-weight: 400;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
    display: grid;
    margin: auto;
    margin-top: 2.5vw;
}

    .showMore:hover {
        background-color: #000000;
        transition: 0.5s;
        cursor: pointer;
    }

.instructorsLabelDiv {
    margin-left: 4.1666666666vw;
    margin-top: 3vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    font-weight: 400;
}

ul.instructorsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    margin-left: 7vw;

}

li.instructorItem {
    margin-right: 12.5vw;
    width: 16.7vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    font-weight: 200;
    margin-bottom: 1vw;
}
.instructorItem a:hover {
    color: #4B8FEA
}

ul.instructorsList li.instructorItem::before {
    content: "\2022";
    color: black;
    font-weight: 800;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    opacity: 80%;
}

.resourcsItem {
    margin-top: 2vw;
    width:90%;
    margin-left:5%;
}

.linkImage {
    width: 1.5vw;
    vertical-align: middle;
}

.resourceLink {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
    font-weight: 300;
    margin-left: 1.30208333vw;
}
    .resourceLink:hover {
        text-decoration: underline;
        text-decoration-color: #4B8FEA
    }
    .blank {
        min-height: 2vw;
    }

a {
    text-align:left;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

#more3 {
    display: none;
}
.contentContainer{
    width:100%;
    padding-bottom:10vw;
}