@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    width: 99%;
}

.header {
    height: 7.6171875vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

.header > div {
    flex-grow: 1 1 0;
    display: flex;
    background-color: #ffff;
    padding: 20px;
    font-size: 2vw;
    top: 0px;
}

.login {
    position: relative;
    width: 10.590494791666666vw;
    height: 3.7109375vw;
    border-radius: 0.32552vw;
    background-color: #FFCB05;
    border: none;
    font-size: 1.5625vw;
    margin-left: 22vw;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
    .login:hover {
        background-color: black;
        transition: 0.5s;
        cursor: pointer;
    }
.navbtn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625vw;
    font-weight: 500;
    background-color: black;
    color: white;
    vertical-align: middle;
}
.navbtn:hover{
    text-decoration:underline;
    text-decoration-color:red;
    bottom:20px;
}
.navbar {
    background-color: black;
    height: 4.5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

    .navbar > div {
        margin-left: 10px;
        flex-grow: 1 1 0;
        display: flex;
        padding: 1.3vw;
        top: 0px;
    }

.logo {
    width: 20.57vw;
    height: 5.315104166666667vw;
}

.bar {
    width: 2.57vw;
    height: 5.315104166666667vw;
}

.navimg {
    width: 1.8229166666666667vw;
    height: 1.8229166666666667vw;
    padding-top: .27vw;
    vertical-align: middle;
}

.navimg2 {
    width: 2.5vw;
    height: 2.5vw;
    vertical-align: middle;
    padding-top: .4vw;
}

.navimg3 {
    width: 2.3vw;
    height: 2.3vw;
    padding-top: .4vw;
    vertical-align: middle;
}

.navimg4 {
    width: 2.3vw;
    height: 2.3vw;
    padding-top: .4vw;
    vertical-align: middle;
}

.label1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}

.graduationImageDiv {
    width: 100%;
}

.graduationImage {
    width: 97.9vw;
}

.aboutParagraphDiv {
    margin: 2% 5% 3% 5%;
    text-align: center;
}

.aboutParagraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7vw;
    font-weight: 300;    
}

.readMoreDiv {
    text-align: center;
    margin-bottom: 3%;
}

.readMore {
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
    background-color: #FFCB05;
    border: none;
    font-size: 1.7vw;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.readMore:hover{
    background-color:black;
    transition:0.5s;
}
.latestNewsDiv {
    background-color: #ECECEC;
    width: 100%;
}


.newslabel {
    font-family: Montserrat;
    font-size: 2.8vw;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px;
}

.news {
    margin-top: 20px;
    width: 100%;
    display: flex;
    height: 88.47vh;
    background-color: #ECECEC;
    align-items: center;
    row-gap: 13.02vw;
    flex-direction: column;
    justify-content: start;
}

    .news > div {
        flex-grow: 1 1 0;
        display: flex;
        font-size: 30px;
        top: 0px;
    }

.whitebox {
    background-color: #FFFFFF;
    opacity: 70%;
    width: 100%;
    align-items: center;
    position:relative ;

  
}
.whiteboxinfo {
    background-color: #FFFFFF;
    opacity: 70%;
    width: 100%;
    height:100%;
    align-items: center;
}
.newsimage{
   width:26vw;


}
.newsbtn {
    position: relative;
    width: 300px;
    font-size: 30px;
    background-color:transparent;
    border:none;
    font-family: Montserrat;
    top: 30%;
   
}
.newsbtn:hover{
    text-decoration-line:underline;
    text-decoration-color:blue;
}

.newsitemlabel {
    font-family: Montserrat;
    font-size: 1.8vw;
    font-weight: 500;
    line-height: 1.95vw;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    left: 25%;
    height:20vh;
}
.newsinfo {
    font-family: Montserrat;
    font-size: 1.5vw;
    font-weight: 500;
    top:20%;
    
    position:relative;
    
}

.newsitem {
    background-color: #ECECEC;
    width: 99%;
    display: flex;
    height: 5.66vw;
    align-items: center;
    column-gap: 3.9vw;
    flex-direction: row;
    justify-content: start;
}

    .newsitem > div {
        margin-left: 10px;
        flex-grow: 1 1 0;
        display: flex;
        flex-direction: column;
        padding: 20px;
        top: 0px;
    }

.pathsDiv {
    background-color: #7A7A7A;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.pathsTextDiv {
    width: 54.21418vw;
}

.pathsPhoto {
    width:53vw;
    height:100%;
}

.pathsLabel {
    font-size: 2.7vw;
    color: white;
    font-weight: 700;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 15%;
    font-family: 'Montserrat', sans-serif;
}

.pathsParagraph {
    font-size: 1.8vw;
    color: white;
    font-weight: 300;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;
}

.viewCourses {
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
    background-color: white;
    border: none;
    font-size: 1.7vw;
    font-weight: bold;
    color: #ED1C24;
    font-family: 'Montserrat', sans-serif;
    margin: 5%;
}
    .viewCourses:hover {
        background-color: red;
        transition: 0.5s;
        color:white;
    }
.weGucians{
    background-color:#343434

}
.gucianstitle{
    text-align:center;
   
}
.GuciansLabel {
    color: white;
    font-size: 3vw;
    font-weight: bold;
    padding: 1% 3% 1% 3%;
    border: 2px solid #ED1C24;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #ED1C24
}
.ContactUs {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color:white;

}
.contacttitle{
  font-size:2.7vw;
  font-weight:bold;



}
.contactustext {
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
}



.contactInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    margin-top: 2%;
}

.contactIcons {
    vertical-align: middle;
}

.contactTitlesText {
    vertical-align: middle;
    font-size: 1.7vw;
    font-weight: 500;
}

.contactText {
    margin-left: 10%;
    font-weight: 300;
}

.gucianinfo {
    background-color: #343434;
    width: 99%;
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-direction: row;
    justify-content: start;
}

    .gucianinfo > div {
        flex-grow: 1 1 0;
        display: flex;
        top: 0px;
    }

.wegucians {
    background-color: #343434;
    width: 100%;
    height: 560px;
    display: flex;
    align-items: center;
    row-gap: 50px;
    flex-direction: column;
    justify-content: start;
}

    .wegucians > div {
        margin-left: 10px;
        flex-grow: 1 1 0;
        display: flex;
    }

.redlabel {
    margin-top: 3.9vh;
    background-color: #ED1C24B2;
    height: 8 vh;
    width: 29.2vw;
}

.alumniinfo {
    background-color: #343434;
    width: 100%;
    display: flex;
    align-items: center;
    row-gap: -2px;
    flex-direction: column;
    justify-content: start;
}

.gucianlabel {
    font-family: Montserrat;
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    position: relative;
    left: 40px;
}

.name {
    font-family: Montserrat;
    font-size: 1.8vw;
    font-weight: 600;
    color: white;
}

.description {
    color: white;
    font-family: Montserrat;
    position: relative;
    font-size: 1vw;
    font-weight: 600;
    margin-left: 1.3vw;
}

.showmore {
    width: 227.24px;
    height: 57px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: none;
    font-size: 1.7vw;
    margin-top: 60px;
    right: 10px;
    font-weight: bold;
    color: #ED1C24;
    font-family: 'Montserrat', sans-serif;
}
.showmore:hover {
    background-color: red;
    transition: 0.5s;
    color:white;
}
.alumniImage{
    width:10vw;
    height :17vh;


}
.whiteVerBar{
    width:0.2vw ;
    height:23vh;
}