@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    height: 100%;
}

/*.scrollable{
    top:0px;
    position:fixed;
    background-color:white;
    width:100%;
}*/

.header {
    height: 7.61716752vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    top: 0px;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }

.logo {
    width: 20.57vw;
    height: 5.31510415vw;
}

.bar {
    width: 2.57vw;
    height: 5.31510415vw;
}

.facultyLabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}

.login {
    position: relative;
    width: 10.590494791666666vw;
    height: 3.7109375vw;
    border-radius: 0.32552vw;
    background-color: #FFCB05;
    border: none;
    font-size: 1.5625vw;
    margin-left: 22vw;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

    .login:hover {
        background-color: black;
        transition: 0.5s;
        cursor: pointer;
    }

.navbar {
    background-color: black;
    height: 4.3vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .navbar > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1.5vw;
    }

.navbtn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
    background-color: black;
    color: white;
}

    .navbtn:hover {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid;
        border-color: red;
        border-width: 3px;
        cursor: pointer;
        transition: 0.5s;
    }

.navbtnin {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625vw;
    font-weight: 500;
    background-color: black;
    color: white;
    vertical-align: middle;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: red;
    border-width: 3px;
    cursor: default;
}

.navImgHomeBookHeadphones {
    width: 1.6vw;
    height: 1.6vw;
}

.navImgGroup {
    width: 1.9vw;
    height: 2.2vw;
}

.navImgGrad {
    width: 1.6vw;
    height: 1.6vw;
}

.navImgAbout {
    width: 2vw;
    height: 2vw;
}

.graduationImage {
    width: 100%;
}

.aboutParagraphDiv {
    margin: 2% 5% 3% 5%;
    text-align: center;
}

.aboutParagraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7vw;
    font-weight: 300;
}

.readMoreDiv {
    text-align: center;
    margin-bottom: 3%;
}

.readMore {
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
    background-color: #FFCB05;
    border: none;
    font-size: 1.7vw;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

    .readMore:hover {
        background-color: black;
        transition: 0.5s;
        cursor: pointer;
    }

.news {
    margin-top: 1.6vw;
    width: 100%;
    display: flex;
    height: auto;
    background-color: #ECECEC;
    align-items: center;
    row-gap: 5vw;
    flex-direction: column;
    justify-content: start;
}

    .news > div {
        flex-grow: 1 1 0;
        display: flex;
        height: auto;
        width: auto;
        font-size: 2vw;
        top: 0px;
    }

.newsLabel {
    font-family: Montserrat;
    font-size: 2.8vw;
    font-weight: 600;
    text-align: center;
    margin-top: 1.6vw;
    margin-bottom: -8vw;
}

.whiteBox {
    background-color: #FFFFFF;
    opacity: 70%;
    align-items: center;
    align-content: center;
    width: auto;
}

.newsItemLabel {
    font-family: Montserrat;
    font-size: 1.8vw;
    font-weight: 500;
    line-height: 1.95vw;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    width: auto;
    height: 20vh;
}

.newsImage {
    width: 26vw;
}

.whiteboxinfo {
    background-color: #FFFFFF;
    opacity: 70%;
    height: 100%;
    align-items: center;
}

.newsbtn {
    position: relative;
    width: 50%;
    font-size: 1.8vw;
    background-color: transparent;
    border: none;
    font-family: Montserrat;
    left: -40%;
    top: 25%;
}

    .newsbtn:hover {
        text-decoration-line: underline;
        text-decoration-color: blue;
        cursor: pointer;
    }

.newsinfo {
    font-family: Montserrat;
    font-size: 1.2vw;
    font-weight: 500;
    top: 7%;
    left: 5%;
    position: relative;
}

.newsItem {
    background-color: #ECECEC;
    width: 99%;
    display: flex;
    height: auto;
    align-items: center;
    column-gap: 3.9vw;
    flex-direction: row;
    justify-content: space-between;
}

    .newsItem > div {
        margin-left: 1vw;
        flex-grow: 1 1 0;
        display: flex;
        flex-direction: column;
        padding: 1vw;
        width: auto;
        top: 0px;
    }

.pathsDiv {
    background-color: #7A7A7A;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.pathsTextDiv {
    width: 54.21418vw;
}

.pathsLabel {
    font-size: 2.7vw;
    color: white;
    font-weight: 700;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 15%;
    font-family: 'Montserrat', sans-serif;
}

.pathsParagraph {
    font-size: 1.8vw;
    color: white;
    font-weight: 300;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;
}

.viewCourses {
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
    background-color: white;
    border: none;
    font-size: 1.7vw;
    font-weight: bold;
    color: #ED1C24;
    font-family: 'Montserrat', sans-serif;
    margin: 5%;
}

    .viewCourses:hover {
        background-color: red;
        transition: 0.5s;
        color: white;
        cursor: pointer;
    }

.pathsPhoto {
    width: 53vw;
    height: 100%;
}

.weGUCians {
    background-color: #343434;
    text-align: center;
}

    .weGUCians > div {
        margin-left: 1vw;
        margin-right: 1vw;
        /*flex-grow: 1 1 0;
        display: flex;*/
    }

.redLabel {
    background-color: rgba(237,28,36,0.7);
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    display: inline-block;
    padding: 0.1% 4% 0.1% 4%;
}

.guciansLabel {
    color: white;
    opacity: 100%;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.gucianinfo {
    background-color: #343434;
    width: 99%;
    display: flex;
    align-items: center;
    column-gap: 2.2vw;
    flex-direction: row;
    justify-content: start;
}

    .gucianinfo > div {
        flex-grow: 1 1 0;
        display: flex;
        top: 0px;
    }

.alumniinfo {
    background-color: #343434;
    width: 100%;
    display: flex;
    align-items: center;
    row-gap: -2px;
    flex-direction: column;
    justify-content: start;
}

.gucianlabel {
    font-family: Montserrat;
    font-size: 3.5807291666666665vw;
    letter-spacing: 0em;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    position: relative;
    left: 3vw;
}

.name {
    font-family: Montserrat;
    font-size: 1.8vw;
    font-weight: 600;
    color: white;
    margin-bottom: -1.5vw;
}

.description {
    color: white;
    font-family: Montserrat;
    position: relative;
    font-size: 1vw;
    font-weight: 600;
    margin-left: 1.3vw;
}

.showMore {
    width: 18vw;
    height: 4vw;
    border-radius: 0.5vw;
    background-color: #FFFFFF;
    border: none;
    font-size: 1.7vw;
    margin-top: 2vw;
    right: 1vw;
    font-weight: bold;
    color: #ED1C24;
    margin-bottom: 1vw;
    font-family: 'Montserrat', sans-serif;
}

    .showMore:hover {
        background-color: red;
        transition: 0.5s;
        color: white;
        cursor: pointer;
    }

.alumniImage {
    width: 10vw;
    height: 17vh;
}

.whiteVerBar {
    width: 0.2vw;
    height: 23vh;
}

.ContactUs {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.contacttitle {
    font-size: 2.7vw;
    font-weight: bold;
}

.contactustext {
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
}



.contactInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    margin-top: 2%;
}

.contactIcons {
    vertical-align: middle;
}

.contactTitlesText {
    vertical-align: middle;
    font-size: 1.7vw;
    font-weight: 500;
}

.contactText {
    margin-left: 10%;
    font-weight: 300;
}