@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    height: 100%;
}

/*.scrollable{
    top:0px;
    position:fixed;
    background-color:white;
    width:100%;
}*/

/*.graduationImage {
    width: 100%;
}*/
.intro {
    height: 38.18750000000001vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1rem;
}

.intro-slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
    height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */
    object-fit: cover;
    z-index: -1;
    /* filter: brightness(50%); */ /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
    /* display: none; */
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}



.aboutParagraphDiv {
    margin: 2% 5% 3% 5%;
    text-align: center;
}

.aboutParagraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7vw;
    font-weight: 300;
}

.readMoreDiv {
    text-align: center;
    margin-bottom: 3%;
}

.readMore {
    padding: 1% 2% 1% 2%;
    border-radius: 0.3255208333333333vw;
    background-color: #FFCB05;
    border: none;
    font-size: 1.7vw;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
}

    .readMore:hover {
        background-color: black;
        cursor: pointer;
    }

.news {
    margin-top: 1.6vw;
    width: 100%;
    display: flex;
    height: auto;
    background-color: #ECECEC;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding-top:1.6vw;
    
}
.newsLabel {

    font-family: Montserrat;
    font-size: 2.8vw;
    font-weight: 600;
    text-align: center;
    
}


/*****************************************************************/
.newsSlider {
    min-height: 32.5390625vw;
    height: 32.5390625vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.6vw;
    /*background-color:#EFEFEF;*/
}
.slideContaier {
    max-width: 97.65625vw;
    width: 100%;
    padding: 2.6041666666666665vw;
}
.slideContent {
    margin: 0 6.510416666666667vw;
    overflow: hidden;
    border-radius: 1.6276041666666667vw;
}
.card {
    border-radius: 1.6276041666666667vw;
    background: white;
}
.imageContent, .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6510416666666666vw 0.9114583333333334vw;
}


.imageContent {
    position: relative;
    row-gap: 0.3255208333333333vw;
    padding: 1.6276041666666667vw 0;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #FFE379;
    border-radius: 1.6276041666666667vw 1.6276041666666667vw 0 1.6276041666666667vw;
}
    .overlay::before,
    .overlay::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -2.6041666666666665vw;
        height: 2.6041666666666665vw;
        width: 2.6041666666666665vw;
        background-color: #FFE379;
    }

    .overlay::after {
        width: 2.9296875vw;
        border-radius: 0 1.6276041666666667vw 0 0;
        background-color: #FFF;
    }

.cardImage {
    position: relative;
    height: 9.765625vw;
    width: 9.765625vw;
    background: #FFF;
    border-radius: 50%;
    padding: 0.1953125vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardImage .cardImg{
    width:100%;
    height:100%;
    object-fit:scale-down;
    border-radius:50%;
      
}
.cardContent {
    position: relative;
    height: 12.369791666666666vw;
}
.newsTitle {
    font-size: 1.171875vw;
    font-weight: 500;
    color: #333;
}
.newsDescription {
    font-size: 0.9114583333333334vw;
    color: black;
    text-align: center;
}
.newsViewMoreBtn {
    position: absolute;
    bottom: 0.6510416666666666vw;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0416666666666667vw;
    color: #FFF;
    padding: 0.5208333333333334vw 1.0416666666666667vw;
    background-color: #FFE379;
    border-radius: 0.390625vw;
    margin: 0.9114583333333334vw;
    cursor: pointer;
    transition: 0.5s;
}
    .newsViewMoreBtn:hover {
        background: black;
    }
#newsNxtBtn, #newsPrevBtn {
    color: black;
    transition: color 0.5s ease;
}
    #newsNxtBtn:hover, #newsPrevBtn:hover {
        color: #FFCB05;
    }
    #newsNxtBtn::before, #newsNxtBtn::after, #newsPrevBtn::before, #newsPrevBtn::after {
        font-size: 2.6041666666666665vw;
    }
#newsNxtBtn{
    right:0;
}
#newsPrevBtn {
    left: 0;
}
#lol {
    color: green;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #F4CF3F;
}

/*@media screen and (max-width: 768px) {
    .slideContent {
        margin: 0 10px;
    }

    #newsNxtBtn, #newsPrevBtn {
        display: none;
    }
}*/
    /*****************************************************************/

/*.whiteBox {
    background-color: #FFFFFF;
    opacity: 70%;
    align-items: center;
    align-content: center;
    width: auto;
}

.newsItemLabel {
    font-family: Montserrat;
    font-size: 1.8vw;
    font-weight: 500;
    line-height: 1.95vw;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    width: auto;
    height: 20vh;
}

.newsImage {
    width: 26vw;
}

.whiteboxinfo {
    background-color: #FFFFFF;
    opacity: 70%;
    height: 100%;
    align-items: center;
}

.newsbtn {
    position: relative;
    width: 50%;
    font-size: 1.8vw;
    background-color: transparent;
    border: none;
    font-family: Montserrat;
    left: -40%;
    top: 25%;
}

    .newsbtn:hover {
        text-decoration-line: underline;
        text-decoration-color: blue;
        cursor: pointer;
    }

.newsinfo {
    font-family: Montserrat;
    font-size: 1.2vw;
    font-weight: 500;
    top: 7%;
    left: 5%;
    position: relative;
}

.newsItem {
    background-color: #ECECEC;
    width: 99%;
    display: flex;
    height: auto;
    align-items: center;
    column-gap: 3.9vw;
    flex-direction: row;
    justify-content: space-between;
}

    .newsItem > div {
        margin-left: 1vw;
        flex-grow: 1 1 0;
        display: flex;
        flex-direction: column;
        padding: 1vw;
        width: auto;
        top: 0px;
    }*/

.pathsDiv {
    background-color: #7A7A7A;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.pathsTextDiv {
    width: 54.21418vw;
}

.pathsLabel {
    font-size: 2.7vw;
    color: white;
    font-weight: 700;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 15%;
    font-family: 'Montserrat', sans-serif;
}

.pathsParagraph {
    font-size: 1.8vw;
    color: white;
    font-weight: 300;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;
}

.viewCourses {
    padding: 1% 2% 1% 2%;
    border-radius: 0.3255208333333333vw;
    background-color: white;
    border: none;
    font-size: 1.7vw;
    font-weight: bold;
    color: #ED1C24;
    font-family: 'Montserrat', sans-serif;
    margin: 5%;
}

    .viewCourses:hover {
        background-color: red;
        transition: 0.5s;
        color: white;
        cursor: pointer;
    }

.pathsPhoto {
    width: 53vw;
    height: 100%;
}

.weGUCians {
    background-color: #343434;
    text-align: center;
    height:37vw;    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    row-gap:5vw;
    flex-wrap:wrap;
    
}


.redLabel {
    background-color: rgba(237,28,36,0.7);
    width:20%;
    margin-top: 1.5vw;
    display: inline-block;
    padding: 0.1% 7% 0.1% 5%;
}

.guciansLabel {
    color: white;
    opacity: 100%;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.gucianinfo {
    background-color: #343434;
    width: 98%;
    display: flex;
    align-items: center;
    column-gap: 2.2vw;
    flex-direction: row;
    justify-content: start;
}

    .gucianinfo > div {
        display: flex;
        top: 0px;
        align-items: start;
    }
.alumniCard {
    
}
.alumniinfo {

    height: 100%;
    margin-left: 1vw;
    background-color: #343434;
    display: flex;
    align-items: start;
    row-gap: 1vw;
    flex-direction: column;
    justify-content: start;
}

.gucianlabel {
    font-family: Montserrat;
    font-size: 3.5807291666666665vw;
    letter-spacing: 0em;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    position: relative;
    left: 3vw;
}

.name {
    font-family: Montserrat;
    font-size: 1.8vw;
    font-weight: 600;
    color: white;
}

.description {
    color: white;
    font-family: Montserrat;
    position: relative;
    font-size: 1vw;
    font-weight: 600;
    text-align:start;
}

.showMore {
    width: 15vw;
    height: 3.5vw;
    border-radius: 0.5vw;
    background-color: #FFFFFF;
    border: none;
    font-size: 1.7vw;
    margin-top: 2vw;
    right: 1vw;
    font-weight: bold;
    color: #ED1C24;
    margin-bottom: 1vw;
    font-family: 'Montserrat', sans-serif;
}

    .showMore:hover {
        background-color: red;
        transition: 0.5s;
        color: white;
        cursor: pointer;
    }

.alumniImage {
    width: 10vw;
    height: 10vw;
}

.whiteVerBar {
    width: 0.2vw;
    height: 10.69140625vw;
}

.ContactUs {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.contacttitle {
    font-size: 2.7vw;
    font-weight: bold;
}

.contactustext {
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
}



.contactInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    margin-top: 2%;
}

.contactIcons {
    vertical-align: middle;
}

.contactTitlesText {
    vertical-align: middle;
    font-size: 1.7vw;
    font-weight: 500;
}

.contactText {
    margin-left: 10%;
    font-weight: 300;
}