@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    width: 100%;
    margin-left: -1px;
}

.header {
    margin-top: -20px;
    width: inherit;
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 30px;
        top: 0px;
    }

.logo {
    height: 70px;
}

.bar {
    height:70px;
}

.label1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    top: 0px;
    left: 0px;
    position: relative;
}

.login {
    width: 140px;
    height: 50px;
    border-radius: 5px;
    background-color: #FFCB05;
    border: none;
    font-size: 22px;
    margin-left: 400px;
    right: 10px;
    font-weight: 700;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbtn {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    background-color: black;
    color: white;
}

.navbar {
    background-color: black;
    width: 100%;
    display: flex;
    height: 87px;
    align-items: center;
    column-gap: 25px;
    flex-direction: row;
    justify-content: start;
}

    .navbar > div {
        margin-left: 10px;
        flex-grow: 1 1 0;
        display: flex;
        padding: 20px;
        top: 0px;
    }

.IncubatorHeader {
    background-image: linear-gradient(to right,RGBA(27,51,124,100),RGBA(237,28,36,90));
    height: 302px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    column-gap: 25px;
    padding-left: 175px;
}

    .IncubatorHeader > div {
        flex-grow: 1 1 0;
        display: flex;
    }

.incubatorIcon {
    width: 180px;
    height: 180px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: white;
}

.typeDiv {
    background-color: white;
    border-radius: 5px;
}

.type {
    font-family: 'Montserrat', sans-serif;
    width: 57px;
    height: 22px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    background: -webkit-linear-gradient(RGBA(27,51,124,100),RGBA(237,28,36,90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.IncubatorInfo {
    font-family: 'Montserrat', sans-serif;
    flex: 1 1 0;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-basis: 100%;
    column-gap: 100px;
    padding-top: 30px;
    justify-content: center;
    align-items: initial;
    font-size: 32px;
    font-weight: 400;    
}

    .IncubatorInfo > div {
        display: flex;
        flex-flow: column;
        width:27%;
    }

.subTitle {
    font-family: 'Montserrat', sans-serif;
    background: -webkit-linear-gradient(RGBA(27,51,124,100),RGBA(237,28,36,90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top:20px;
    margin-bottom:20px;
    font-weight:600;
}

ul {
    padding-left:7%;
}
li {
    margin-bottom: 15px;
    list-style-type:circle;
}
.list li{
    list-style-type:decimal-leading-zero;
}

.titleInfo {
    font-family: 'Montserrat', sans-serif;
    font-size:27px;
}
.item {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    margin-bottom: 5px;
}

.section{
    width:20%;
}
.facebook {
 
}
.instagram {
    width:55px;
    height:55px;
}

.item {
    list-style: none;
}

    .item::before {
        content: "\2022";
        color: grey;
        font-weight: bold;
        display: inline-block;
        width: 1em;
    }
.socialIcons {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content:start;
}





.list {
    list-style: none;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, RGBA(27,51,124,100),RGBA(237,28,36,90));
    margin-left: 0px;
    border: dashed;
    border-color: red;
}
