
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
/*    border: 3px solid green;
*/
body {
}

html {
    scroll-behavior: smooth;
}

.flex-container-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25.096354166666664vw;
    background: linear-gradient(to right, #000000, #ED1C24, #FFCB05);
}

.flex-child-1 {
    margin: auto;
}

    .flex-child-1:first-child {
        padding-right: 4vw;
        width: 38.393229166666666vw;
        overflow: hidden;
        font-family: Monda;
        font-size: 3.5807291666666665vw;
        font-weight: bold;
        text-align: left;
        color: #FFFFFF;
        margin-left: 3.2552083333333335vw;
        position: relative;
    }

    .flex-child-1:last-child {
    }

.nav2-img {
    width: 2.9vw;
    height: 2.9vw;
    padding-top: .2vw;
    vertical-align: middle;
}

/*
.center {
    position: absolute;
    left: 80%;
    top: 52.5%;
    transform: translate(-50%, -50%);
    padding: 0.6510416666666666vw;
}*/

.line {
    width: 100%;
    height: 0.06510416666666667vw;
    background-color: #D9D9D9;
    display: flex;
    z-index: 10000;
    position: sticky;
    top: 3.1901041666666665vw;
}

.title {
    font-family: 'Montserrat';
    font-size: 2.818035426731079vw;
    font-weight: 500;
    text-align: center;
    color : black;
}

.updates {
    font-family: 'Montserrat';
    font-size: 1.6103059581320451vw;
    font-weight: 600;
    color: #ED1C24;
    margin-bottom: 3.2552083333333335vw;
    margin-left: 1.953125vw;
    line-height: 1.5em;
}

.line2 {
    width: 65.10416666666667vw;
    height: 0.7161458333333334vw;
    background: linear-gradient(to right, #000000, #ED1C24, #FFCB05);
    display: flex;
}

.centerdiv {
    margin: auto;
    width: 60%;
}

.description {
    font-family: 'Montserrat';
    font-size: 1.6103059581320451vw;
    font-weight: 300;
    color: #000000;
    margin-bottom: 3.2552083333333335vw;
    margin-left: 1.953125vw;
}

.prerequisites {
    font-family: 'Montserrat';
    font-size: 1.6103059581320451vw;
    font-weight: 300;
    color: #000000;
    margin-bottom: 3.2552083333333335vw;
    margin-left: 1.953125vw;
}

.itemDiv {
    line-height: 1.5em;
}

    .itemDiv:hover {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }

.margin-left-180 {
    margin-left: 11.71875vw;
}

.syllabus-title {
    font-family: 'Montserrat';
    font-size: 1.953125vw;
    font-weight: 300;
    color: #000000;
}

.syllabus-description {
    font-family: 'Montserrat';
    font-size: 1.6103059581320451vw;
    font-weight: 300;
    color: #000000;
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
}

.flex-child {
}

    .flex-child:first-child {
        margin-right: 1.3020833333333333vw;
        margin-left: 3.90625vw;
        width: 11.393229166666666vw;
    }

.syllabus-line {
    margin-left: 13.671875vw;
    width: 81.38020833333333vw;
}

.week-number {
    font-family: 'Montserrat';
    font-size: 3.2552083333333335vw;
    font-weight: 300;
    padding-left: 1.6276041666666667vw;
    background: -webkit-linear-gradient(#000000, #ED1C24, #FFCB05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.show-moreDiv {
    width: 8.5%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.2552083333333335vw;
}

.show-more {
    background-color: #FFCB05;
    align-content: center;
    width: 10vw;
    height: 3vw;
    border-radius: 0.32552vw;
    border: none;
    font-size: 1.2vw;
    font-weight: 600;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
    display: grid;
    margin: auto;
}

    .show-more:hover {
        background-color: black;
        transition: 0.5s;
        cursor: pointer;
    }

.instructors-title {
    font-family: 'Montserrat';
    font-size: 2.6041666666666665vw;
    font-weight: 400;
    margin-left: 1.953125vw;
}

.instructors-names {
    font-family: 'Montserrat';
    font-size: 1.6103059581320451vw;
    font-weight: 300;
    color: #000000;
    margin-bottom: 3.2552083333333335vw;
    margin-left: 3.90625vw;
}

.resources {
    font-family: 'Montserrat';
    font-size: 1.6103059581320451vw;
    font-weight: 300;
    color: #000000;
}

.margin-bottom {
    margin-bottom: 2.0182291666666665vw;
}

.margin-left {
    margin-left: 1.953125vw;
}

span {
    font-family: Monda;
    font-size: 1.6276041666666667vw;
    font-weight: bold;
    color: #FFFFFF;
}

.navbar2 {
    width: 100%;
    height: 3.1901041666666665vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    z-index: 10000;
    position: sticky;
    top: 0px;
}

    .navbar2 > div {
        margin-left: 0.6510416666666666vw;
        flex-grow: 1 1 0;
        display: flex;
        padding: 1.3vw;
        top: 0vw;
    }

.hover-underline-animation {
    color: black;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    text-decoration: none;
    line-height: 3.9452495974235107vw;
}

    .hover-underline-animation:hover {
        font-weight: 900;
        text-decoration: underline;
        font-size: 1.6vw;
        cursor: pointer;
    }

li {
    line-height: 1.5em;
}

#more7 {
    display: none;
}

.login:hover {
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
}

.navbtn:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: red;
    border-width: 3px;
    cursor: pointer;
    transition: 0.5s;
}
#updatesTable {
    border : none;
    table-layout: auto;
    width: 80%;
    font-size : 2vw;
}
.Edit {
    background-color: #FFCB05;
    border: none;
    border-radius: 0.32552vw;
    width: 10vw;
    height: 3vw;
    font-size: 1.2vw;
    font-weight: 600;
    color: white;
    text-indent: -0.6510416666666666vw;
}
.editIcon {
    vertical-align: middle;
    justify-content: start;
    margin-right: 1vw;
    width: 2vw;
    height: 2vw;
}

.Edit:hover {
    background-color: black;
    transition: 0.5s;
    cursor: pointer;

}
.Delete {
    background-color: #ED1C24;
    border: none;
    border-radius: 0.32552vw;
    width: 10vw;
    height: 3vw;
    font-size: 1.2vw;
    font-weight: 600;
    color: white;
    text-indent: -0.6510416666666666vw;
}
.AddNew {
    display : block;
    background-color: black;
    border: none;
    border-radius: 0.32552vw;
    width: 20vw;
    height: 3vw;
    font-size: 1.2vw;
    font-weight: 600;
    color: white;
    margin : auto;
    text-indent: -0.6510416666666666vw;
    margin-bottom : 2vw;
    margin-top : 2vw;
    cursor : pointer;
}

.Delete:hover {
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
}
.innerSpan {
   vertical-align : middle;
    font-size: 1.3vw;
    font-weight: 600;
    color: white;
    font-family: "Montserrat";
}

tr:nth-child(even) {
    background-color: white;
}
.weekEdit{
    background: url(".images/InstructorHome/blackEdit.svg");
    margin-left: 74vw;
    width: 3.5%;
    height: 3.5%;
}
.materialsUl {
    vertical-align: middle;
    list-style-type: none;
    padding-left: 14vw;
    font-size: 2vw;
    display: grid;
  
    grid-row-gap: 10px;
}
.materialsLi {
    display: flex;
    direction :initial;
    grid-column-gap:20px;
}

.AddNewMaterials {
    display: block;
    background-color: black;
    border: none;
    border-radius: 0.32552vw;
    width: 15vw;
    height: 3vw;
    font-size: 1.2vw;
    font-weight: 600;
    color: white;
    margin: auto;
    text-indent: -0.6510416666666666vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
    cursor: pointer;
}
    