
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
}

.header {
    height: 7.6171875vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 1.04vw;
        font-size: 2vw;
        top: 0px;
    }

.logo {
    width: 20.57vw;
    height: 5.315104166666667vw;
}

.bar {
    width: 2.57vw;
    height: 5.315104166666667vw;
}



.label1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}

#Welcome_div {
    background-image: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(237, 28, 36, 1),rgba(255, 203, 5, 0.8));
    height: 11.197916666666666vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    column-gap: 2.0128824476650564vw;
    padding-left: 12.090177133655395vw;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6041666666666665vw;
    font-weight: 400;
    color: white;
}
#semesterTitleDiv {
    margin-top: 3.3854166666666665vw;
    padding-left: 5.729166666666667vw;
}
.semesterTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0833333333333335vw;
    font-weight: 200;
    color: black;
}


.viewCourse {
    background-color: #FFCB05;
    align-content: center;
    width: 8.5vw;
    height: 2.5vw;
    border-radius: 0.32552vw;
    border: none;
    font-size: 1.1vw;
    font-weight: 600;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
    display: grid;
    margin: auto;
}

    .viewCourse:hover {
        background-color: #000000;
        transition: 0.5s;
        cursor: pointer;
    }


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    border: 0.052083333333333336vw solid #dddddd;
    margin: auto;
    margin-top: 1.04vw;
}

td, th {
    border: none;
    text-align: left;
    padding: 0.4166666666666667vw;
    padding-left: 2.6041666666666665vw;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.courseTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.302vw;
}
.logout {
    position: relative;
    width: 10.590494791666666vw;
    height: 3.7109375vw;
    border-radius: 0.32552vw;
    background-color: white;
    border: 0.08vw solid;
    font-size: 1.5625vw;
    margin-left: 22vw;
    color: black;
    font-family: 'Montserrat', sans-serif;
    cursor : pointer;
}
.logoutIcon {
    vertical-align: middle;
    justify-content: start;
    width: 2vw;
    height : 2vw;

}
.logoutlabel {
    font-family: 'Montserrat', sans-serif;
    vertical-align: middle;
    font-size: 1.302vw;
    color : black;
    font-weight : 400;
}



#viewProfile {
    border : none;
    background-color: black;
    color: white;
    vertical-align: middle;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25vw;
    border-radius: 0.4219206680584552vw;
    width:15.54070981210856vw;
    height: 2.96875vw;
    cursor : pointer;
}
