@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    margin: 0;
    height: 100%;
}
/*form {
    border:solid;
    border-color: red;
    display:flex;
    flex-direction:column;
}*/

.header {
    height: 5.5vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }
.logo {
    width: 14vw;
    height: 4vw;
}

.bar {
    width: 2.57vw;
    height: 4vw;
}

.login {
    position: relative;
    width: 8.4vw;
    height: 3.1vw;
    border-radius: 0.32552vw;
    background-color: #FFCB05;
    border: none;
    font-size: 1.4vw;
    margin-left: 33vw;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbtn {
   /* border: solid;
    border-color: green;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
    background-color: black;
    color: white;

}

.navbar {
    background-color: black;
    height: 4.3vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

    .navbar > div {
      /*  border: solid;
        border-color: green;*/
        flex-grow: 1 1 0;
        display: flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        margin:1.3vw;
        
    }



.navimg {
    /*border:solid;
    border-color:green;*/
    width: 1.8vw;
    height: 1.75vw;
    margin-right: 0.1vw;
    
}

.navimg2 {
    /* border: solid;
    border-color: green;*/
    margin-top:0.2vw;
    width: 1.6vw;
    height: 1.6vw;
    margin-right: 0.1vw;
}

.navimg3 {
    width: 2.4vw;
    height: 2.3vw;
    margin-right: 0.1vw;
}

.navimg4 {
    width: 1.8vw;
    height: 1.8vw;
    margin-right: 0.1vw;
}

.label1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vw;
}

