@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    height: 100%;
}

/*.scrollable{
    top:0px;
    position:fixed;
    background-color:white;
    width:100%;
}*/

.header {
    height: 7.61716752vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    top: 0px;
}

    .header > div {
        flex-grow: 1 1 0;
        display: flex;
        background-color: #ffff;
        padding: 20px;
        font-size: 2vw;
        top: 0px;
    }

.logo {
    width: 20.57vw;
    height: 5.31510415vw;
}

.bar {
    width: 2.57vw;
    height: 5.31510415vw;
}

.facultyLabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}

.login {
    position: relative;
    width: 10.590494791666666vw;
    height: 3.7109375vw;
    border-radius: 0.32552vw;
    background-color: #FFCB05;
    border: none;
    font-size: 1.5625vw;
    margin-left: 22vw;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

    .login:hover {
        background-color: black;
        transition: 0.5s;
        cursor: pointer;
    }

.navbar {
    background-color: black;
    height: 4.3vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .navbar > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1.5vw;
    }

.navbtn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
    background-color: black;
    color: white;
}

    .navbtn:hover {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid;
        border-color: red;
        border-width: 3px;
        cursor: pointer;
        transition: 0.5s;
    }

.navbtnin {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625vw;
    font-weight: 500;
    background-color: black;
    color: white;
    vertical-align: middle;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: red;
    border-width: 3px;
    cursor: default;
}

.navImgHomeBookHeadphones {
    width: 1.6vw;
    height: 1.6vw;
}

.navImgGroup {
    width: 1.9vw;
    height: 2.2vw;
}

.navImgGrad {
    width: 1.6vw;
    height: 1.6vw;
}

.navImgAbout {
    width: 2vw;
    height: 2vw;
}

.ProfileHeader {
    display: flex;
    column-gap: 10vw;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.profileName {
    display: flex;
    column-gap: 3.90625vw;
    justify-content: center;
    align-items: center;
    margin-left: 6.40624vw;
    margin-right: 12.1875vw;
}

.profileImage {
    width: 15.7291667vw;
    height: 17.1354167vw;
}

.namePosition {
    width: 20vw;
}

@font-face {
    font-family: tanseek;
    src: url('../fonts/tanseek modern pro arabic.ttf');
}

.name {
    font-size: 3.9vw;
    font-family: Tanseek,sans-serif;
    font-weight: 300;
}

.position {
    font-size: 1.8vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.iconLineDiv {
    margin-bottom: 1.5vw;
}

.iconNoPhone {
    vertical-align: middle;
    width: 2.6vw;
    height: 2.6vw;
}

.iconPhone {
    vertical-align: middle;
    width: 2.083333333vw;
    height: 2.083333333vw;
}

.iconLabelNoPhone {
    vertical-align: middle;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-left: 3.64583333vw;
}

.iconLabelPhone {
    vertical-align: middle;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-left: 4.1625vw;
}

.navbar2 {
    width: 100%;
    height: 3.1901041666666665vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(237, 28, 36, 1),rgba(255, 203, 5, 0.8));
    z-index: 10000;
    position: sticky;
    top: 0px;
}

    .navbar2 > div {
        margin-left: 0.8051529790660226vw;
        flex-grow: 1 1 0;
        display: flex;
        padding: 1.3vw;
        top: 0vw;
    }


.AboutNav {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 3.9452495974235107vw;
}

    .AboutNav:hover {
        font-weight: 900;
        text-decoration: underline;
        font-size: 1.6vw;
        cursor: pointer;
    }

.infoTitleDiv {
    text-align: center;
    margin-top: 3.5vw;
}

.infoTitle {
    font-family: 'Montserrat';
    font-size: 3.9vw;
    font-weight: 500;
}

.listDiv {
    font-family: 'Montserrat';
    font-size: 1.8vw;
    font-weight: 300;
    margin-left: 4.32291667vw;
    line-height: 1.5em;
    margin-bottom: 3.75vw;
}

ul {
    list-style: none;
}

    ul li::before {
        content: "\2022";
        color: black;
        font-weight: 800;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        opacity: 80%;
    }

li {
    margin-bottom: 1vw;
}

.infoSubTitleDiv {
    margin-top: 3.75vw;
}

.infoSubTitle {
    font-family: 'Montserrat';
    font-size: 3.6vw;
    font-weight: 400;
    margin-left: 10.234375vw;
    margin-bottom: 2.8125vw;
}

.infoItem {
    display: flex;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 6.25vw;
    /* margin-right: 4vw;*/
}

.dateDiv {
    width: 16.82291666666667vw;
}

.date {
    align-content: center;
    font-family: 'Montserrat';
    font-size: 1.5vw;
    font-weight: 400;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 1),rgba(237, 28, 36, 0.9),rgba(255, 203, 5, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: block;
}

.vertical {
    border-left: 0.08051529790660225vw solid grey;
    height: 8.854166666666667vw;
    position: center;
    margin-left: 2.6vw;
    margin-right: 1.5625vw;
    opacity: 0.5;
}

.verticalResearch {
    border-left: 0.08051529790660225vw solid grey;
    height: 5.5vw;
    position: center;
    margin-left: 2.6vw;
    margin-right: 1.5625vw;
    opacity: 0.5;
}

.verticalT, .verticalR {
    border-left: 0.08051529790660225vw solid grey;
    position: center;
    margin-left: 2.6vw;
    margin-right: 1.5625vw;
    opacity: 0.5;
}

.text {
    width: 65vw;
}

.degreeTitle {
    font-family: 'Montserrat';
    font-size: 1.8vw;
    font-weight: 800;
    margin-bottom: 0.8vw;
}

.university {
    font-family: 'Montserrat';
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 0.8vw;
}

.description {
    font-family: 'Montserrat';
    font-size: 1.5vw;
    font-weight: 400;
    margin-bottom: 1.7vw;
}

.description1 {
    font-family: 'Montserrat';
    font-size: 1.5vw;
    font-weight: 400;
    margin-bottom: 0.8vw;
}

.linkTitle {
    font-family: 'Montserrat';
    font-size: 1.3vw;
    font-weight: 300;
    margin-bottom: 1.7vw;
}

.horizontal {
    height: 0.052vw;
    width: 66.51vw;
    color: gray;
    background-color: gray;
    opacity: 0.3;
}

.showMoreDiv {
    margin-top: 2.760416666666667vw;
    margin-bottom: 3.75vw;
}

.showMore {
    background-color: #FFCB05;
    align-content: center;
    width: 12.60416666666667vw;
    height: 3.541666666666667vw;
    border-radius: 0.32552vw;
    border: none;
    font-size: 1.44vw;
    font-weight: 400;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
    display: grid;
    margin: auto;
}

    .showMore:hover {
        background-color: #000000;
        transition: 0.5s;
        cursor: pointer;
    }

.gradientBar {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(237, 28, 36, 0.9), rgba(255, 203, 5, 0.8));
    width: 52.08333333333333vw;
    height: 0.5729166666666667vw;
    margin-left: 23.95833333333333vw;
}

ul.course li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
}

ul.reInterests li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vw;
    font-weight: 400;
}

.blank {
    min-height: 2vw;
}

#more, #more2, #more3, #more4, #more5 {
    display: none;
}