@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    height: 100%;
}

/*.scrollable{
    top:0px;
    position:fixed;
    background-color:white;
    width:100%;
}*/

.ProfileHeader {
    background-color: #5a5a5a;
    display: flex;
    column-gap: 10vw;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 10vw 4vw 6vw;
    color: white;
}

.profileName {
    display: flex;
    column-gap: 3vw;
    justify-content: center;
    align-items: center;
}

.profileImage {
    border-radius: 50%;
    object-fit: cover;
    width: 10vw;
    border: solid 3px white;
    /*box-shadow: 0 0 1vw 0 rgb(255 203, 5 / 20%);*/
}

.namePosition {
    margin-top:-1.8vw;
    width: 20vw;
    display:flex;
    flex-direction:column;
}

@font-face {
    font-family: tanseek;
    src: url('../fonts/tanseek modern pro arabic.ttf');
}

.name {
    font-size: 3vw;
    font-family: Tanseek,sans-serif;
    font-weight: 300;
}

.position {
    margin:0;
    font-size: 1.8vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.iconsValues{
    display:flex;
    flex-direction:column;
    row-gap:1vw;
}
.iconLineDiv {
    display:flex;
    flex-direction:row;
    justify-content:start;
    align-items:center;
    column-gap:2vw;

}
#iconPhone {
    width: 1.3vw;
}
.iconLineDiv img {
    width: 1.5vw;
    filter: invert(1);
}
    .iconLineDiv label {
        font-size: 1.2vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

/* .iconLabelNoPhone {
        vertical-align: middle;
        font-size: 1.5vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

.iconLabelPhone {
    vertical-align: middle;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}*/
.navbar2 {
    height: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5vw;
    background-color: white;
    z-index: 10000;
    position: sticky;
    top: 5.1vw;
    box-shadow: 0 0 1vw 0 rgba(0,0,0,0.2);
}
    .navbar2 a {
        position: relative;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3vw;
        font-weight: 500;
        letter-spacing: 0.07vw;
        color: black;
        cursor: pointer;
    }

        .navbar2 a:after {
            content: "";
            position: absolute;
            background: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(237, 28, 36, 1),rgba(255, 203, 5, 0.8));
            border-radius: 0.2vw;
            height: 0.2vw;
            width: 0;
            left: 0;
            bottom: -0.4vw;
            transition: all 0.1s ease-in;
        }

        .navbar2 a:hover:after {
            width: 100%;
        }


.AboutNav {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 3.9452495974235107vw;
}

    .AboutNav:hover {
        font-weight: 900;
        text-decoration: underline;
        font-size: 1.6vw;
        cursor: pointer;
    }

.infoTitleDiv {
    text-align: center;
    margin-top: 3.5vw;
}

.infoTitle {
    font-family: 'Montserrat';
    font-size: 2.8vw;
    font-weight: 500;
}

.listDiv {
    margin-top:3vw;
    font-family: 'Montserrat';
    font-size: 1.6vw;
    font-weight: 300;
    margin-left: 4.32291667vw;
    line-height: 1.5em;
    margin-bottom: 3.75vw;
}

ul {
    list-style: none;
}

    ul li::before {
        content: "\2022";
        color: black;
        font-weight: 800;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        opacity: 80%;
    }

li {
    margin-bottom: 0.4vw;
    margin-top: 0.4vw;
}
#educationSection, #employmentSection, #researchSection, #publicationsSection, #activitySection, #teachingSection {
    width: 80%;
    margin-left: 5.9%;
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
}
#researchSection {
   row-gap:1vw;
}

    #researchSection ul {
        margin-left:-0.4vw;
        margin-top:3vw;
        margin-block-start: -2vw;
        margin-block-end: -2vw;
    }
    #researchSection .infoSubTitle {
        margin-bottom:4vw;
    }

    #teachingSection {
        width: 80%;
        margin-left: 5.9%;
        display: flex;
        flex-direction: column;
        row-gap: 2vw;
        margin-bottom: 5vw;
    }



    .infoSubTitleDiv {
        margin-top: 3.75vw;
        margin-bottom:1vw;
    }

.infoSubTitle {
    font-family: 'Montserrat';
    font-size: 2.3vw;
    font-weight: 500;
    /*margin-left: 4.9vw;*/
    margin-bottom: 2.8125vw;
}

.infoItem {
    display: flex;
    flex-direction: row;
    /* margin-right: 4vw;*/
}

.dateDiv {
    width: 16.82291666666667vw;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction:column;
    row-gap:0.5vw;
}

.date {
    width: 16.82291666666667vw;
    align-content: center;
    font-family: 'Montserrat';
    font-size: 1.3vw;
    font-weight: 400;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 1),rgba(237, 28, 36, 0.9),rgba(255, 203, 5, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: block;
}

.vertical, .verticalT, .verticalR, .verticalResearch {
    content: '';
    border-left: 0.08051529790660225vw solid grey;
    height: inherit;
    margin-left: 3vw;
    margin-right: 2vw;
    opacity: 0.3;
}




.text {
    width: 65vw;
    display:flex;
    flex-direction:column
}

.degreeTitle {
    font-family: 'Montserrat';
    font-size: 1.5vw;
    font-weight: 600;
}

.university {
    font-family: 'Montserrat';
    font-size: 1.2vw;
    font-weight: 500;
}

.description {
    font-family: 'Montserrat';
    font-size: 1vw;
    font-weight: 300;
}

.description1 {
    font-family: 'Montserrat';
    font-size: 1.5vw;
    font-weight: 400;
    margin-bottom: 0.8vw;
}

.linkTitle {
    font-family: 'Montserrat';
    font-size: 1.3vw;
    font-weight: 300;
    margin-bottom: 1.7vw;
}

.horizontal {
    height: 0.052vw;
    width: 66.51vw;
    color: gray;
    background-color: gray;
    opacity: 0.3;
}

.showMoreDiv {
    margin-top: 2.760416666666667vw;
    margin-bottom: 3.75vw;
}

.showMore {
    background-color: #FFCB05;
    align-content: center;
    width: 12.60416666666667vw;
    height: 3.541666666666667vw;
    border-radius: 0.32552vw;
    border: none;
    font-size: 1.44vw;
    font-weight: 400;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
    display: grid;
    margin: auto;
}

    .showMore:hover {
        background-color: #000000;
        transition: 0.5s;
        cursor: pointer;
    }

.gradientBar {
    background-color:#E9E9E9;
    width: 60%;
    height: 0.03vw;
    margin-left: 20%;
}

ul.course li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
}
    ul.course li:hover {
        color: #4B8FEA;
        cursor:pointer;
    }

    ul.reInterests li {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6vw;
        font-weight: 400;
    }

.blank {
    min-height: 2vw;
}

#more, #more2, #more3, #more4, #more5 {
    display: none;
}
