@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


html, body {
    margin: 0px;
    height: 100%;
}

.Header {
    height: 15.315619967793882vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    column-gap: 2.0128824476650564vw;
    padding-left: 9.090177133655395vw;
}

    .Header > div {
        width:fit-content;
        
        flex-grow: 1 1 0;
        display: flex;
    }

.Icon {
    position: relative;
    width: 8vw;
    height: 8vw;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    border-radius:50%;
    object-fit:scale-down;
}

    .Icon img {
        width: 100%;
        height: auto;
    }


.title {
    font-family: 'Montserrat', sans-serif;
    font-size:1.8vw;
    font-weight: 400;
    color: white;
}

.typeDiv {
    background-color: white;
    border-radius: 0.5025764895330113vw;
    padding:0 0.5vw 0 0.5vw;
    display:flex;
}

.type {
    font-family: 'Montserrat', sans-serif;
    height: 1.7713365539452497vw;
    font-size: 1.2687600644122384vw;
    font-weight: 500;
    text-align: center;

}

.Info {
    font-family: 'Montserrat', sans-serif;
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    column-gap: 8.051529790660226vw;
    padding-top: 2.4154589371980677vw;
    justify-content: center;
    align-items: initial;
    font-size: 2.576489533011272vw;
    font-weight: 400;
    padding-bottom:5vw;
}

    .Info > div {
        display: flex;
        flex-flow: column;
        width: 27%;
    }

.subTitle {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.6103059581320451vw;
    margin-bottom: 1.6103059581320451vw;
    font-weight: 600;
    font-size: 2vw;
}

ul {
    padding-left: 7%;
    font-size:1.5vw;
}

li {
    margin-bottom: 1.2077294685990339vw;
    font-size:1.5vw;
}

.titleInfo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
}

.item {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1739130434782608vw;
    margin-bottom: 0.4025764895330113vw;
}

.section {
    width: 20%;
}

.facebook {
    transition: all 0.2s ease-in;
}

.instagram {
    transition: all 0.2s ease-in;

}

    .facebook:hover, .instagram:hover {
        opacity: 0.7;
    }

.socialIcons {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    column-gap: 2.0128824476650564vw;
    justify-content: start;
}
